Outreach

<div class="unified-contacts-animation">
	<div class="me">
		<div class="bio hidden"><p>BIO & SOCIAL PROFILES</p></div>
		<div class="interactions  hidden">
			<p>Inter@ctions History</p><span>Reach Now</span>
			<div class="reach-now-data">
				<label class="l">1 month</label><label class="sep"></label><label>Follow</label><br>
				<label class="l">3 weeks</label><label class="sep"></label><label>Comment</label><br>
				<label class="l">Last week</label><label class="sep"></label><label>Connect</label><br>
				<label class="l">2 days</label><label class="sep"></label><label>Message</label>
			</div>
		</div>
		<div class="recent-shares  hidden">
			<b>Recent Shares</b>
			<p><span class="gp"></span>Which social selling model are you using?</p>
			<p><span class="tw"></span>How to leverage the 3 Cs for social selling</p>
			<p><span class="in"></span>Brand maintenance programs for B2B marketers</p>
		</div>
		<div class="shared-topics  hidden">
			<b>Shared Topics</b>
			<p>IEEE</p>
			<p>STARTUP</p>
			<p>MARKETING</p>
			<p>ENTREPRENEURSHIP</p>
		</div>
		<div class="circle">
			<span class="icn in"></span>
			 <div class="img"></div>
		</div>
	</div>
</div>


Find prospects

<div class="discovery-animation" id="discovery-animation">

    <div class="border">
		<div class="circles hidden">
			<div class="circle1 circle">
				<span class="icn in"></span>
				 <div class="img"></div>
				<div class="btn">Amy Mars</div>
			</div>
			<div class="circle2 circle">
				<span class="icn fb"></span>
				 <div class="img"></div>
				<div class="btn">Lee Sheng</div>
			</div>
			<div class="circle3 circle">
				<span class="icn gp"></span>
				 <div class="img"></div>
				<div class="btn">Sophie Baker</div>
			</div>
			<div class="circle4 circle right">
				<span class="icn wp"></span>
				<div class="img"></div>
				<div class="btn">Walter Davis</div>
			</div>
			<div class="circle5 circle right">
				<span class="icn tw"></span>
				<div class="img"></div>
				<div class="btn">Julia Adams</div>
			</div>
		</div>
		<div class="shutter">
			<div class="frame"></div>
		</div>
		<div class="me">
			<div class="by-shared">BY SHARED TOPICS</div>
			<div class="input-big-data hidden">
				<div class="wrap">
					<input type="text" value="" data-txt="Big Data">
				</div>
			</div>
		</div>
	</div>
</div>

Keep it personal

<div class="reach-in-animation">
   <div class="inner">
      <div class="profil">
        <div class="img"></div>
         <div class="btn">ENGAGE</div>
      </div>
      <div class="circle1 circle active" data-angle="16">
         <span class="in"></span>
         <span class="arrow"></span>
         <div class="icon connect"><span></span></div>
         <div class="btn">Connect</div>
      </div>
      <div class="circle2 circle active" data-angle="88">
         <span class="arrow"></span>
         <div class="icon message"><span></span></div>
         <div class="btn">Message</div>
      </div>
      <div class="circle3 circle active" data-angle="160">
         <span class="arrow"></span>
         <div class="icon like"><span></span></div>
         <div class="btn">Like</div>
      </div>
      <div class="circle4 circle" data-angle="232">
         <span class="arrow"></span>
         <div class="icon follow"><span></span></div>
         <div class="btn">Follow</div>
      </div>
      <div class="circle5 circle" data-angle="304">
         <span class="arrow"></span>
         <span class="in"></span>
         <div class="icon comment"><span></span></div>
         <div class="btn">Comment</div>
      </div>
   </div>
</div>

Attract

<div class="improve-results-animation">
	<div class="magnet">
		<img src="/wp-content/themes/relevante/images/home_feature_3_magnet.png" />
	</div>
	<div class="contents">
		<img src="/wp-content/themes/relevante/images/home_feature_3_contents.png" />
	</div>
</div>