/*********  unified contacts animation *********/
.unified-contacts-animation{
	padding-right: 120px;
    .me {
        background: url(images/me3.png) no-repeat center center;
        height: 221px;
        margin: 210px auto 255px;
        width: 217px;
    }
	.circle{
        position: absolute;
        margin: 32px 0 0 45px; 
        .img {
            width: 85px;
            height: 85px;
            border:2px solid #1b7c6a;
            border-radius: 50%;
            background: url(images/faces.png);
			background-size: cover;
        }
        .icn {
            background: url("images/anim-sprite.png");
            display: inline-block;
            height: 30px;
            position: absolute;
            width: 30px;
			right: 4px;
			top: 62px;
        }
        .in {
            background-position: -227px -24px;
        }
	}
	
	.bio{
		background: url(images/bio.png);
		width: 248px;
		height: 243px;
		position: absolute;
		margin: -138px 0 0 169px;
		p{
			color: #fff;
			font-size: 14px;
			font-weight: bold;
			margin: 81px 0 0 79px;
			text-align: center;
			width: 110px;
			position: absolute;
			line-height: 18px;
		}
	}
	.interactions{
		width: 150px;
		height: 297px;
		background: url(images/interactions.png);
		position: absolute;
		margin: 149px 0 0 206px;
		span {
			border: 1px solid;
			border-radius: 5px;
			color: #6b4173;
			display: inline-block;
			line-height: 28px;
			margin: 297px 0 0 45px;
			padding: 0 12px;
			position: absolute;
			font-weight: bold;
			white-space: nowrap;
		}
		p{
			color: #fff;
			font-size: 14px;
			font-weight: bold;
			margin: 40px 0 0 40px;
			text-align: center;
			width: 110px;
			position: absolute;
			line-height: 18px;
		}
		.reach-now-data {
			color: #251d26;
			margin: 136px 0 0 10px;
			position: absolute;
			white-space: nowrap;
			width: 166px;
			label{
				vertical-align: top;
				font-size: 13px;
				font-weight: bold;
				width: 60px;
				&.l{ text-align: right; margin-bottom: 23px; }
				display: inline-block;
					&.sep{
						display: inline-block;
						width: 50px;
				}
			}
		}
	}
	.recent-shares{
		background: #6b4173;
		width: 170px;
		height: 215px;
		position: absolute;
		border-radius: 5px;
		margin: -213px 0 0 -97px;
		box-sizing: border-box;
		padding: 10px;
		color:#fff;
		p{
			font-size: 12px;
			line-height: 18px;
			padding-left: 22px;
			color:#fff;
			span{ 
				background: url(images/shares-sprite.png) no-repeat;
				display: inline-block; width: 14px; height: 15px;
				margin: 4px 0 0 -22px;
				position: absolute;
				&.gp{ background-position: 0 0; }
				&.tw{ background-position: -14px 0; }
				&.in{ background-position: -28px 0; }
				}
			 
		}
		&:after {
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(136, 183, 213, 0);
			border-top-color: #6b4173;
			border-width: 7px;
			margin-left: 60px;
		}
	}
	.shared-topics{
		background: #6b4173;
		width: 190px;
		position: absolute;
		border-radius: 5px;
		margin: 229px 0 0 -63px;
		box-sizing: border-box;
		padding: 10px;
		color:#fff;
		&:after {
			bottom: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(136, 183, 213, 0);
			border-bottom-color: #6b4173;
			border-width: 7px;
			margin-left: 65px;
		}
		p{ color:#fff; }
	}
	.recent-shares b, .shared-topics b{
		display: block;
		font-size: 13px;
		font-weight: bold;
		padding: 5px 0 0;
		text-align: center;
		text-transform: uppercase;
	}

	
}
/*********  discovery  animation *********/ 
.hidden{ display: none; }
.discovery-animation {
    margin: 0 auto;
    width: 595px;
    text-align: center;
    .me {
        background: url(images/me2.png) no-repeat center center;
        height: 258px;
        margin: 0 auto;
        width: 258px;
        padding-top: 61px;
    }
    .border {
        width: 316px;
        height: 319px;
        margin: 77px auto 0;
    }
    .by-shared {
        opacity: 0;
        color: transparent;
        transition: color 2s ease;
    }
    .input-big-data {
        padding-top: 63px;
        .wrap {
            border: 1px solid #6b4173;
            width: 190px;
            margin: 0 auto;
            border-radius: 5px;
        }
        input {
            background: #f9f5fa url(images/green-loop.png) no-repeat 158px center;
            border: 1px solid #cac7cb;
            border-radius: 5px;
            color: #1b7c6a;
            font-size: 16px;
            font-weight: bold;
            height: 40px;
            padding: 0 15px;
            width: 158px;
        }
    }
    .shutter {
        width: 236px;
        height: 235px;
        margin: 42px 0 0 41px;
        position: absolute;
    }
    .circle {
        position: absolute;
        opacity:0;
        margin:120px 0 0 123px;
        transition: all .8s ease-out;
        .img {
            width: 68px;
            height: 68px;
            border:2px solid #1b7c6a;
            border-radius: 50%;
            background: url(images/faces.png);
			background-size: cover;
			
        } 
		&.circle2 .img{ background-position: 0 -84px; }
		&.circle3 .img{ background-position: 0 -168px; }
		&.circle4 .img{ background-position: 0 -252px; }
		&.circle5 .img{ background-position: 0 -335px; }
		&.circle6 .img{ background-position: 0 -419px; }
        .btn {
            margin: -52px 0 0 -113px;
            min-width: 104px;
            position: absolute;
            line-height: 31px;
            background: #1b7c6a;
            color:#e9eff2;
            border-radius: 5px;
        }
        .icn {
            background: url("images/anim-sprite.png");
            display: inline-block;
            height: 24px;
            position: absolute;
            width: 24px;
            transition: background-position .2s ease-in;
            right: 3px;
            top: 48px;
        }
        .in {
            background-position: -26px -24px;
        }
        .fb {
            background-position: -93px -24px;
        }
        .gp {
            background-position: -124px -24px;
        }
        .tw {
            background-position: -156px -24px;
        }
        .wp {
            background-position: -187px -24px;
        }
    }
    .circle.right {
        .btn {
            margin: -52px 0 0 81px;
        }
    }
}
.discovery-animation.step3 {
    .border {
        background: url(images/border2.png) no-repeat center center;
    }
    .circles {
        display: block;
    }
}
.discovery-animation.step1 {

    .by-shared {
        border-radius: 50%;
        color: #fff;
        display: block;
        font-size: 22px;
        line-height: 258px;
        background: rgba(107,65,115,0.6);
        font-weight: bold;
        margin-top: -30px;
        transition: background-color 2s ease;
        opacity: 1;
    }
}
.discovery-animation.step2 .input-big-data, .discovery-animation.step3 .input-big-data {
    display: block;
}
.shutter {
    .frame {
        background: url(images/shutter.png) no-repeat 300px 0;
        width: 236px;
        height: 235px;
    }
    .frame.f0 {
        background-position: right center;
    }
    .frame.f1 {
        background-position: -1407px 0;
    }
    .frame.f2 {
        background-position: -843px 0;
    }
    .frame.f3 {
        background-position: -562px 0;
    }
    .frame.f4 {
        background-position: -281px 0;
    }
    .frame.f5 {
        background-position: 0 0;
    }
}
.discovery-animation.step3.m {
    .circle {
        opacity: 1;
    }
    .circle1.circle {
        margin: -23px 0 0 63px;
    }
    .circle2.circle {
        margin: 142px -32px 0;
    }
    .circle3.circle {
        margin: 271px 77px 0;
    }
    .circle4.circle {
        margin: 206px 253px 0;
    }
    .circle5.circle {
        margin: 30px 244px 0;
    }
}

// Improve results animation
.improve-results-animation {
    position: relative;
    text-align: center;

    .magnet {
        margin-bottom: 24px;
        transition: all .3s ease-in-out;
    }

    .contents {
        -ms-transform: scale(0.7, 0.7); /* IE 9 */
        -webkit-transform: scale(0.7, 0.7); /* Safari */
        transform: scale(0.7, 0.7);
        transition: all .3s ease-in-out;
    }
}
#reach-in.intoView {
    .magnet {
        -ms-transform: scale(0.7, 0.7); /* IE 9 */
        -webkit-transform: scale(0.7, 0.7); /* Safari */
        transform: scale(0.7, 0.7);
    }

    .contents {
        -ms-transform: scale(1, 1); /* IE 9 */
        -webkit-transform: scale(1, 1); /* Safari */
        transform: scale(1, 1);
    }
}