/*********  unified contacts animation *********/
.unified-contacts-animation {
  padding-right: 120px;
}
.unified-contacts-animation .me {
  background: url(images/me3.png) no-repeat center center;
  height: 221px;
  margin: 210px auto 255px;
  width: 217px;
}
.unified-contacts-animation .circle {
  position: absolute;
  margin: 32px 0 0 45px;
}
.unified-contacts-animation .circle .img {
  width: 85px;
  height: 85px;
  border: 2px solid #1b7c6a;
  border-radius: 50%;
  background: url(images/faces.png);
  background-size: cover;
}
.unified-contacts-animation .circle .icn {
  background: url("images/anim-sprite.png");
  display: inline-block;
  height: 30px;
  position: absolute;
  width: 30px;
  right: 4px;
  top: 62px;
}
.unified-contacts-animation .circle .in {
  background-position: -227px -24px;
}
.unified-contacts-animation .bio {
  background: url(images/bio.png);
  width: 248px;
  height: 243px;
  position: absolute;
  margin: -138px 0 0 169px;
}
.unified-contacts-animation .bio p {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin: 81px 0 0 79px;
  text-align: center;
  width: 110px;
  position: absolute;
  line-height: 18px;
}
.unified-contacts-animation .interactions {
  width: 150px;
  height: 297px;
  background: url(images/interactions.png);
  position: absolute;
  margin: 149px 0 0 206px;
}
.unified-contacts-animation .interactions span {
  border: 1px solid;
  border-radius: 5px;
  color: #6b4173;
  display: inline-block;
  line-height: 28px;
  margin: 297px 0 0 45px;
  padding: 0 12px;
  position: absolute;
  font-weight: bold;
  white-space: nowrap;
}
.unified-contacts-animation .interactions p {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin: 40px 0 0 40px;
  text-align: center;
  width: 110px;
  position: absolute;
  line-height: 18px;
}
.unified-contacts-animation .interactions .reach-now-data {
  color: #251d26;
  margin: 136px 0 0 10px;
  position: absolute;
  white-space: nowrap;
  width: 166px;
}
.unified-contacts-animation .interactions .reach-now-data label {
  vertical-align: top;
  font-size: 13px;
  font-weight: bold;
  width: 60px;
  display: inline-block;
}
.unified-contacts-animation .interactions .reach-now-data label.l {
  text-align: right;
  margin-bottom: 23px;
}
.unified-contacts-animation .interactions .reach-now-data label.sep {
  display: inline-block;
  width: 50px;
}
.unified-contacts-animation .recent-shares {
  background: #6b4173;
  width: 170px;
  height: 215px;
  position: absolute;
  border-radius: 5px;
  margin: -213px 0 0 -97px;
  box-sizing: border-box;
  padding: 10px;
  color: #fff;
}
.unified-contacts-animation .recent-shares p {
  font-size: 12px;
  line-height: 18px;
  padding-left: 22px;
  color: #fff;
}
.unified-contacts-animation .recent-shares p span {
  background: url(images/shares-sprite.png) no-repeat;
  display: inline-block;
  width: 14px;
  height: 15px;
  margin: 4px 0 0 -22px;
  position: absolute;
}
.unified-contacts-animation .recent-shares p span.gp {
  background-position: 0 0;
}
.unified-contacts-animation .recent-shares p span.tw {
  background-position: -14px 0;
}
.unified-contacts-animation .recent-shares p span.in {
  background-position: -28px 0;
}
.unified-contacts-animation .recent-shares:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #6b4173;
  border-width: 7px;
  margin-left: 60px;
}
.unified-contacts-animation .shared-topics {
  background: #6b4173;
  width: 190px;
  position: absolute;
  border-radius: 5px;
  margin: 229px 0 0 -63px;
  box-sizing: border-box;
  padding: 10px;
  color: #fff;
}
.unified-contacts-animation .shared-topics:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #6b4173;
  border-width: 7px;
  margin-left: 65px;
}
.unified-contacts-animation .shared-topics p {
  color: #fff;
}
.unified-contacts-animation .recent-shares b,
.unified-contacts-animation .shared-topics b {
  display: block;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 0 0;
  text-align: center;
  text-transform: uppercase;
}
/*********  discovery  animation *********/
.hidden {
  display: none;
}
.discovery-animation {
  margin: 0 auto;
  width: 595px;
  text-align: center;
}
.discovery-animation .me {
  background: url(images/me2.png) no-repeat center center;
  height: 258px;
  margin: 0 auto;
  width: 258px;
  padding-top: 61px;
}
.discovery-animation .border {
  width: 316px;
  height: 319px;
  margin: 77px auto 0;
}
.discovery-animation .by-shared {
  opacity: 0;
  color: transparent;
  transition: color 2s ease;
}
.discovery-animation .input-big-data {
  padding-top: 63px;
}
.discovery-animation .input-big-data .wrap {
  border: 1px solid #6b4173;
  width: 190px;
  margin: 0 auto;
  border-radius: 5px;
}
.discovery-animation .input-big-data input {
  background: #f9f5fa url(images/green-loop.png) no-repeat 158px center;
  border: 1px solid #cac7cb;
  border-radius: 5px;
  color: #1b7c6a;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  padding: 0 15px;
  width: 158px;
}
.discovery-animation .shutter {
  width: 236px;
  height: 235px;
  margin: 42px 0 0 41px;
  position: absolute;
}
.discovery-animation .circle {
  position: absolute;
  opacity: 0;
  margin: 120px 0 0 123px;
  transition: all 0.8s ease-out;
}
.discovery-animation .circle .img {
  width: 68px;
  height: 68px;
  border: 2px solid #1b7c6a;
  border-radius: 50%;
  background: url(images/faces.png);
  background-size: cover;
}
.discovery-animation .circle.circle2 .img {
  background-position: 0 -84px;
}
.discovery-animation .circle.circle3 .img {
  background-position: 0 -168px;
}
.discovery-animation .circle.circle4 .img {
  background-position: 0 -252px;
}
.discovery-animation .circle.circle5 .img {
  background-position: 0 -335px;
}
.discovery-animation .circle.circle6 .img {
  background-position: 0 -419px;
}
.discovery-animation .circle .btn {
  margin: -52px 0 0 -113px;
  min-width: 104px;
  position: absolute;
  line-height: 31px;
  background: #1b7c6a;
  color: #e9eff2;
  border-radius: 5px;
}
.discovery-animation .circle .icn {
  background: url("images/anim-sprite.png");
  display: inline-block;
  height: 24px;
  position: absolute;
  width: 24px;
  transition: background-position 0.2s ease-in;
  right: 3px;
  top: 48px;
}
.discovery-animation .circle .in {
  background-position: -26px -24px;
}
.discovery-animation .circle .fb {
  background-position: -93px -24px;
}
.discovery-animation .circle .gp {
  background-position: -124px -24px;
}
.discovery-animation .circle .tw {
  background-position: -156px -24px;
}
.discovery-animation .circle .wp {
  background-position: -187px -24px;
}
.discovery-animation .circle.right .btn {
  margin: -52px 0 0 81px;
}
.discovery-animation.step3 .border {
  background: url(images/border2.png) no-repeat center center;
}
.discovery-animation.step3 .circles {
  display: block;
}
.discovery-animation.step1 .by-shared {
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 22px;
  line-height: 258px;
  background: rgba(107, 65, 115, 0.6);
  font-weight: bold;
  margin-top: -30px;
  transition: background-color 2s ease;
  opacity: 1;
}
.discovery-animation.step2 .input-big-data,
.discovery-animation.step3 .input-big-data {
  display: block;
}
.shutter .frame {
  background: url(images/shutter.png) no-repeat 300px 0;
  width: 236px;
  height: 235px;
}
.shutter .frame.f0 {
  background-position: right center;
}
.shutter .frame.f1 {
  background-position: -1407px 0;
}
.shutter .frame.f2 {
  background-position: -843px 0;
}
.shutter .frame.f3 {
  background-position: -562px 0;
}
.shutter .frame.f4 {
  background-position: -281px 0;
}
.shutter .frame.f5 {
  background-position: 0 0;
}
.discovery-animation.step3.m .circle {
  opacity: 1;
}
.discovery-animation.step3.m .circle1.circle {
  margin: -23px 0 0 63px;
}
.discovery-animation.step3.m .circle2.circle {
  margin: 142px -32px 0;
}
.discovery-animation.step3.m .circle3.circle {
  margin: 271px 77px 0;
}
.discovery-animation.step3.m .circle4.circle {
  margin: 206px 253px 0;
}
.discovery-animation.step3.m .circle5.circle {
  margin: 30px 244px 0;
}
.improve-results-animation {
  position: relative;
  text-align: center;
}
.improve-results-animation .magnet {
  margin-bottom: 24px;
  transition: all 0.3s ease-in-out;
}
.improve-results-animation .contents {
  -ms-transform: scale(0.7, 0.7);
  /* IE 9 */
  -webkit-transform: scale(0.7, 0.7);
  /* Safari */
  transform: scale(0.7, 0.7);
  transition: all 0.3s ease-in-out;
}
#reach-in.intoView .magnet {
  -ms-transform: scale(0.7, 0.7);
  /* IE 9 */
  -webkit-transform: scale(0.7, 0.7);
  /* Safari */
  transform: scale(0.7, 0.7);
}
#reach-in.intoView .contents {
  -ms-transform: scale(1, 1);
  /* IE 9 */
  -webkit-transform: scale(1, 1);
  /* Safari */
  transform: scale(1, 1);
}
