/*!
Theme Name: Relevante
Theme URI: http://relevante.me
Author: Relevante
Author URI: http://relevante.me
Description: Relevante Responsive Wordpress Theme.
Version: 1.0
*/

@greyMagenta: #7d7380;
@magenta: #72468f;
@magentaDark: #6b4173;
@magentaLight: #e4dfe6;
@grey: #989399;
@darkGrey: #2c2c2c;

@purple: #6b4173;
@green: #229C85;
@greenPurple: #44727d;
@orange: #fb8e00;
@darkOrange: #f08800;

@level1: #2CC9AD;
@level2: #27B59B;
@level3: #229C85;
@level4: #1B7C6A;


body {
    color: @grey;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
a{ 
 text-decoration: none;
 color:@magentaDark;
}
h2 {
    color: @magentaDark;
    text-align: center;
}
.signup-home-bottom-btn,
.waitinglist {
    background: none !important;
    border: 3px solid white !important;
    border-radius: 3px;
    color: white;
    line-height: 32px !important;
    padding: 0 50px;
    text-transform: uppercase;

    &:hover {
        background: white !important;
        color: @magenta;
    }
}
.red{
    color: red;
}
.linkedinTracking {
    display: none;
}
#relmenu-wrapper{ border-bottom: 1px solid #f7f7f7; }
#relmenu,#relmenu ul,#relmenu ul li,#relmenu ul li a,#relmenu #menu-button {
    border: 0;
    box-sizing: border-box;
    display: block;
    line-height: 1;
    list-style: none;
    margin: 0;
    moz-box-sizing: border-box;
    padding: 0;
    position: relative;
    webkit-box-sizing: border-box;
}
#relmenu:after,#relmenu &>ul:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
#relmenu {
    display: inline-block;
    line-height: 1;
    width: auto;
    #menu-button {
        display: none;
    }
    & > ul {
        & > li {
            float: left;
            text-align: left;
            & > a {
                color: @greyMagenta;
                font-size: 13px;
                moz-transition: color .2s ease;
                ms-transition: color .2s ease;
                o-transition: color .2s ease;
                padding: 30px 9px;
                text-decoration: none;
                text-transform: uppercase;
                transition: color .2s ease;
                webkit-transition: color .2s ease;
            }
        }
        & > li.has-sub {
            & > a {
                padding-right: 25px;
            }
            & > a::after {
                border-bottom: 1px solid @greyMagenta;
                border-right: 1px solid @greyMagenta;
                content: "";
                height: 4px;
                moz-transform: rotate(45deg);
                moz-transition: border-color 0.2s ease;
                ms-transform: rotate(45deg);
                ms-transition: border-color 0.2s ease;
                o-transform: rotate(45deg);
                o-transition: border-color 0.2s ease;
                position: absolute;
                right: 10px;
                top: 31px;
                transform: rotate(45deg);
                transition: border-color 0.2s ease;
                webkit-transform: rotate(45deg);
                webkit-transition: border-color 0.2s ease;
                width: 4px;
            }
        }
        & > li.has-sub:hover {
            & > a::after {
                border-color: @magenta;
            }
        }
    }
    ul {
        ul {
            left: -9999px;
            position: absolute;
            ul {
                margin-left: 100%;
                top: 0;
            }
            li {
                height: 0;
                moz-transition: height .2s ease;
                ms-transition: height .2s ease;
                o-transition: height .2s ease;
                transition: height .2s ease;
                webkit-transition: height .2s ease;
                a {
                    background: #333333;
                    color: #dddddd;
                    font-size: 12px;
                    moz-transition: color .2s ease;
                    ms-transition: color .2s ease;
                    o-transition: color .2s ease;
                    padding: 10px 20px;
                    text-decoration: none;
                    transition: color .2s ease;
                    webkit-transition: color .2s ease;
                    width: 160px;
                }
            }
            li.has-sub {
                & > a::after {
                    border-bottom: 1px solid #dddddd;
                    border-right: 1px solid #dddddd;
                    content: "";
                    height: 4px;
                    moz-transform: rotate(-45deg);
                    moz-transition: border-color 0.2s ease;
                    ms-transform: rotate(-45deg);
                    ms-transition: border-color 0.2s ease;
                    o-transform: rotate(-45deg);
                    o-transition: border-color 0.2s ease;
                    position: absolute;
                    right: 10px;
                    top: 13px;
                    transform: rotate(-45deg);
                    transition: border-color 0.2s ease;
                    webkit-transform: rotate(-45deg);
                    webkit-transition: border-color 0.2s ease;
                    width: 4px;
                }
            }
            li.has-sub:hover {
                & > a::after {
                    border-color: #ffffff;
                }
            }
        }
        li:hover {
            & > ul {
                & > li {
                    height: 32px;
                }
            }
        }
    }
    li:hover {
        & > ul {
            left: auto;
        }
    }
}
#menu-line {
    background: @magenta;
    display: none;
    height: 3px;
    left: 0;
    moz-transition: all 0.25s ease-out;
    ms-transition: all 0.25s ease-out;
    o-transition: all 0.25s ease-out;
    position: absolute;
    top: 0;
    transition: all 0.25s ease-out;
    webkit-transition: all 0.25s ease-out;
}
#relmenu:hover {
    #menu-line {
        display: block;
    }
}
#relmenu.align-center {
    & > ul {
        font-size: 0;
        text-align: center;
        & > li {
            display: inline-block;
            float: none;
        }
    }
    ul {
        ul {
            text-align: left;
        }
    }
}
#relmenu.align-right {
    & > ul {
        & > li {
            float: right;
        }
    }
    ul {
        ul {
            text-align: right;
            ul {
                margin-left: 0;
                margin-right: 100%;
            }
            li.has-sub {
                & > a::after {
                    border-bottom: 0;
                    border-left: 1px solid #dddddd;
                    border-right: 0;
                    border-top: 1px solid #dddddd;
                    left: 10px;
                    right: auto;
                }
            }
        }
    }
    li:hover {
        & > ul {
            right: 0;
        }
    }
}
#relmenu &>ul &>li:hover &>a,#relmenu &>ul &>li.active &>a {
    color: @magenta;
}
#relmenu ul ul li:hover &>a,#relmenu ul ul li a:hover {
    color: #ffffff;
}

/*
YOU CAN ADD THIS TOO, CAUSE LESS COMPILATION ERROR.
,only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px),
 only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px),
 only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px),
 only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px),
 only screen and (min-resolution: 192dpi) and (max-width: 1024px),
 only screen and (min-resolution: 2dppx) and (max-width: 1024px) 
*/
@media all and (max-width: 768px){

#relmenu {
    width: 100%;
    ul {
        display: none;
        width: 100%;
        ul {
            li {
                a {
                    background: none;
                    color: #000000;
                    font-size: 12px;
                    padding: 20px 20px 20px 30px;
                }
            }
            ul {
                li {
                    a {
                        padding-left: 40px;
                    }
                }
            }
        }
    }
    #menu-button {
        color: #000000;
        cursor: pointer;
        display: block;
        font-size: 12px;
        padding: 20px;
        position: absolute;
        right: 0;
        text-transform: uppercase;
        top: -56px;
        width: 100px;
    }
    #menu-button::after {
        background: #000000;
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        right: 20px;
        top: 20px;
        width: 15px;
    }
    #menu-button::before {
        border-bottom: 2px solid #000000;
        border-top: 2px solid #000000;
        content: '';
        display: block;
        height: 3px;
        position: absolute;
        right: 20px;
        top: 25px;
        width: 15px;
    }
    .submenu-button {
        border-left: 1px solid rgba(120, 120, 120, 0.15);
        cursor: pointer;
        display: block;
        height: 52px;
        position: absolute;
        right: 0;
        top: 0;
        width: 52px;
        z-index: 10;
    }
    .submenu-button::after {
        background: #000000;
        content: '';
        display: block;
        height: 11px;
        left: 26px;
        position: absolute;
        top: 21px;
        width: 1px;
        z-index: 99;
    }
    .submenu-button::before {
        background: #000000;
        content: '';
        display: block;
        height: 1px;
        left: 21px;
        position: absolute;
        top: 26px;
        width: 11px;
        z-index: 99;
    }
    .submenu-button.submenu-opened:after {
        display: none;
    }
}
#relmenu.align-center &>ul,#relmenu.align-right ul ul {
    text-align: left;
}
#relmenu ul li,#relmenu ul ul li,#relmenu ul li:hover &>ul &>li {
    border-top: 1px solid rgba(120, 120, 120, 0.15);
    height: auto;
    width: 100%;
}
#relmenu ul li a,#relmenu ul ul li a {
    width: 100%;
}
#relmenu &>ul &>li,#relmenu.align-center &>ul &>li,#relmenu.align-right &>ul &>li {
    display: block;
    float: none;
}
#relmenu ul ul li:hover &>a,#relmenu ul ul li a:hover {
    color: #000000;
}
#relmenu ul ul,#relmenu ul ul ul {
    left: 0;
    margin: 0;
    position: relative;
    right: auto;
    width: 100%;
}
#relmenu &>ul &>li.has-sub &>a::after,#relmenu ul ul li.has-sub &>a::after {
    display: none;
}
#menu-line {
    display: none;
}
 
}


.wrapper {
    margin: 0 auto;
    max-width: 1190px;
    padding: 0 10px;
	overflow: hidden;
}
#logo {
    background: url(images/logo.png) no-repeat;
    display: block;
    float: left;
    height: 47px;
    margin-top: 12px;
    width: 240px;
}

#top-bar {
    background: linear-gradient(to right, @green 0%, @purple 100%);
    //background: black;
    //border-bottom: 5px solid black;
    //border-top: 5px solid black;
    // border-style: solid;
    // border-width: 6px 0 6px 0;
    // -moz-border-image: -moz-linear-gradient(left, @green 0%, @purple 100%);
    // -webkit-border-image: -webkit-linear-gradient(left, @green 0%, @purple 100%);
    // border-image: linear-gradient(to right, @green 0%, @purple 100%);
    // border-image-slice: 1;
    color: white;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;

    h1, i {
        display: inline-table;
        line-height: 1.6em;
        vertical-align: middle;
    }

    h1 {
        font-size: 1.4em;
        font-weight: normal;
        margin: 6px 0;
        max-width: 300px;
        text-transform: uppercase;
        width: 40%;
    }

    i {
        font-size: 1.4em;
        width: 20%;
    }
    .corner-ribbon{
        width: 120px;
        background: #e43;
        position: absolute;
        text-align: center;
        line-height: 1em;
        letter-spacing: 1px;
        color: #f0f0f0;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);

        &.shadow {
            box-shadow: 0 0 3px rgba(0,0,0,.3);
        }

        &.sticky{
            position: fixed;
        }

        &.top-right{
          top: -5px;
          right: 20px;
          left: auto;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }

        p {
            font-size: 0.7em;
            font-weight: bold;
            margin: 0;
            padding: 12px 0;
        }
    }
}
#download-guide {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 999;

    p {
        background: @greenPurple;
        border-bottom-left-radius: 28px;
        border-bottom-right-radius: 28px;
        box-shadow: 0 9px 12px -6px @darkGrey;
        color: white;
        display: inline-table;
        font-size: 0.9em;
        font-weight: bold;
        line-height: 28px;
        margin: 0;
        padding: 0 48px;
        text-transform: lowercase;
        width: auto;
    }
}

#header {
    height: 75px;
    text-align: right;
}
.lang-switcher {
    display: inline-block;
    margin-right: 7px;
    margin-top: 26px;
    position: relative;
    vertical-align: top;
    a.current:after {
        border-bottom: 1px solid @greyMagenta;
        border-right: 1px solid @greyMagenta;
        content: "";
        height: 4px;
        margin-left: 5px;
        position: absolute;
        top: 8px;
        transform: rotate(45deg);
        transition: border-color 0.2s ease 0s;
        width: 4px;
    }
	.flag {
		display: inline-block;
		height: 11px;
		margin-right: 10px;
		width: 16px;
	}
    ul {
        background: #fff;
        border: 1px solid #eee;
        border-top: none;
        display: none;
        list-style: none;
        margin: 0 0 0 -15px;
        padding: 5px 0 5px;
        position: absolute;
        text-align: left;
        a {
            display: block;
            padding: 3px 15px;
        }
        a:hover {
            background: #f7f7f7;
        }
		.flag {
			margin-left: -1px;
		}
    }
    a {
        color: #a5a1a6;
        font-size: 13px;
        text-decoration: none;
        white-space: nowrap;
    }
}
.lang-switcher:hover {
    ul {
        display: block;
		z-index: 999;
    }
}
.lang-switcher-small {
    display: none;
}
#hd-login, .read-more, #submit, .magenta-btn {
    background: @magenta;
    border: 2px solid @magenta;
    border-radius: 4px;
    color: #fff !important;
    display: inline-block;
    font-size: 13px;
    line-height: 30px;
    margin: 19px 15px 0 34px;
    padding: 0 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
}
.read-more{ margin: 20px 0 0 0; }

#hd-login:hover, .read-more:hover, #submit:hover, .magenta-btn:hover, #footer .part input[type='submit']:hover {
    background: #fff !important;
    color: @magenta !important;
}
.arrDown, #footer .more span, #contactLinked span, #contactTwitter span, #contactEmail span,#our-team .social a, .linkedin-signin-btn span i, .slider-mouse, .dotes a, #testimonials button,#featured-video .play {
    background: url(images/sprite.png) no-repeat;
}

.mobile-only {
    display: none !important;
}
p.cert-safe {
    margin-top: 32px;
    text-align: center;

    img {
        max-width: 640px;
        width: 100%;
    }
}
#footer {
    background: #f7faf9 url(images/footer_bg.png) top center;
    color: #ababab;
    line-height: 21px;
    text-align: center;
	.wrapper{ padding-top: 100px; }
    a {
        color: #ababab;
        display: inline-block;
        margin: 0 0 10px;
        text-decoration: none;
    }
    .part {
        display: inline-block;
        margin-bottom: 20px !important;
        min-width: 200px;
        text-align: left;
        vertical-align: top;
        width: 23%;
        p {
            margin: 1px 0 10px;
        }
        h3 {
            color: #999;
            font-size: 16px;
            margin: 0 0 10px;
            text-transform: uppercase;
        }
        input[type='submit'] {
            background: @magentaDark;
            border: 2px solid @magentaDark;
            border: medium none;
            border-radius: 3px;
            color: #fff;
            font-size: 14px;
            line-height: 28px;
            margin-top: 13px;
            width: 100%;
        }
        textarea {
            border: 1px solid #e5e3e6;
            box-sizing: border-box;
            color: #ababab;
            display: block;
            font-size: 13px;
            height: 95px;
            padding: 5px 10px;
            width: 100%;
        }
    }
    .part.m {
        margin: 0 1.5%;
    }
    .more {
        color: #4acbab !important;
        font-size: 14px;
        span {
            background-position: -41px 0;
            display: inline-block;
            height: 12px;
            width: 13px;
        }
    }
}
#ft-logo {
    margin-top: -14px !important;
}
#contactLinked span, #contactTwitter span, #contactEmail span {
    display: inline-block;
    height: 31px;
    margin-right: 4px;
    vertical-align: middle;
    width: 31px;
}
#contactLinked {
    span {
        background-position: right 0;
    }
}
#contactTwitter {
    span {
        background-position: left -112px;
    }
}
#contactEmail {
    span {
        background-position: right -33px;
    }
}
#copy {
    border-top: 1px solid #ccc;
    margin-top: 25px;
    padding: 40px 0 45px;
    text-align: left;
    & > div {
        float: right;
        margin-top: -11px;
        img {
            margin-left: 12px;
        }
    }
}
#our-team {
    background: url(images/team_bg.png) center top;
    border-bottom: 1px solid @magentaLight;
    border-top: 1px solid @magentaLight;
    padding-bottom: 40px;
    text-align: center;
    .member {
        display: inline-block;
        margin-bottom: 47px;
        min-width: 360px;
        text-align: left;
        width: 32%;
        img {
            border: 5px solid #cbc6cc;
            border-radius: 60px;
            width: 100px;
        }
        .infos {
            float: right;
            width: ~"calc(100% - 125px)";
        }
        h4 {
            color: #585059;
            font-size: 15px;
            margin: 0 0 5px;
        }
        .info {
            span {
                color: #8b888c;
                font-size: 13px;
            }
        }
        p {
            font-size: 14px;
            line-height: 22px;
            margin: 12px 0 10px;
        }
    }
    .social {
        a {
            display: inline-block;
            height: 13px;
            margin-right: 12px;
            width: 14px;
        }
        a.fb {
            background-position: -55px 0 !important;
        }
        a.tw {
            background-position: -69px 0 !important;
        }
        a.in {
            background-position: -84px 0 !important;
        }
    }
}
#our-team h3, #testimonials h3 {
    font-size: 32px;
    font-weight: 300;
    margin: 58px 0 54px;
}

#slider-wrapper {
	// background: rgba(143,79,182,1);
	// background: -moz-linear-gradient(top, rgba(143,79,182,1) 0%, rgba(68,183,150,1) 100%);
	// background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(143,79,182,1)), color-stop(100%, rgba(68,183,150,1)));
	// background: -webkit-linear-gradient(top, rgba(143,79,182,1) 0%, rgba(68,183,150,1) 100%);
	// background: -o-linear-gradient(top, rgba(143,79,182,1) 0%, rgba(68,183,150,1) 100%);
	// background: -ms-linear-gradient(top, rgba(143,79,182,1) 0%, rgba(68,183,150,1) 100%);
	// background: linear-gradient(to bottom, rgba(143,79,182,1) 0%, rgba(68,183,150,1) 100%);
    background: white;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f4fb6', endColorstr='#44b796', GradientType=0 );

    height: auto; /*945px*/
    //padding-bottom: 32px;
    overflow: hidden;
	
	.dotes {
		position: absolute;
		right: 3%;
		top: 50%;
		z-index: 999;
		a {
			background-position: right -84px;
			display: block;
			height: 10px;
			margin-bottom: 7px;
			width: 10px; 
		}
		a.highlight {
			background-position: right -70px;
		}
	}
}
#main-slider {
    height: auto !important;

    h2 {
        font-size: 2em;
        font-weight: normal;
        margin: 32px 10%;
    }

    aside {
        font-size: 1.2em;
    }

    .item {
        height: auto !important;
        text-align: center;
        width: 100% !important;

        h2 {
            color: @magentaDark;
        }

        p {
            // color: #472e4c;
            // font-size: 21px;
            // line-height: 24px;
            // margin: 52px auto;
            margin: 0;
        }

        img {
            display: block;
            margin: 0 auto;
            //max-width: 960px;
            text-align: center;
            width: 100%;
        }
    }
	ul {
        height: auto !important;
        padding: 0;
    }

    .main-slider-text {
        background: rgba(0, 0, 0, 0.7);
        border-radius: 12px;
        bottom: 32px;
        margin: 0 auto 32px auto;
        max-width: 960px;
        left:0; right: 0;
        padding-bottom: 32px;
        text-align: center;
        width: 90%;

        h2 {
            color: white;
            margin: 32px;
            font-size: 2.6em;
            font-weight: normal;
        }

        form {
            margin: 0 32px;
        }
    }
}

#hero-video {
}

#join-us-video {

    video {
        margin: 0 auto;
        max-width: 640px;
    }
}

.signup-btn,
.request-invitation-btn {
    background: @orange;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: white;
    font-size: 1.2em;
    line-height: 48px !important;
    padding: 0 50px;
    text-transform: uppercase;

    &:hover {
        background:  @darkOrange;
    }
}

.linkedin-signin-btn {
    background: #2673b0;
    border-bottom: 4px solid #216094;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    line-height: 60px;
    text-decoration: none;
    vertical-align: top;
	&.end{margin-bottom: 20px; text-align: center;  }
    b {
        font-weight: normal;
        padding: 0 20px;
		color:#fff;
    }
    span {
        background-color: #2368a1;
        display: inline-block;
        float: left;
        width: 75px;
        i {
            background-position: -105px 2px;
            display: inline-block;
            height: 16px;
            width: 16px;
        }
    } 
}
.linkedin-signin-btn:hover {
    border-color: #1F5989;
}
.magenta.linkedin-signin-btn {
    background: @magenta;
    border-color: #593770;
    span {
        background-color: #684082;
    }
}
.magenta.linkedin-signin-btn:hover {
    border-color: #513265;
}
.two-col-slide, .two-col-hero {
    .titles {
        margin: 22px 0 42px;
        & > h3 {
            //cursor: pointer;
            opacity: 0.4;
            span {
                display: block;
                font-size: 18px;
            }
        }
        & > h3.active {
            opacity: 1;
        }
        & > span {
            margin: 0 35px;
        }
    }
    .data {
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
    .data.active {
        height: auto;
        moz-transition: opacity .8s ease-in-out;
        opacity: 1;
        transition: opacity .8s ease-in-out;
        webkit-transition: opacity .8s ease-in-out;
    }
}
.two-col-slide .titles &>h3,
.two-col-hero .titles &>h3, .titles &>span {
    color: #fff;
    display: inline-block;
    font-size: 72px;
    margin: 0;
    vertical-align: top;
}
.slider-mouse {
    background-position: -1px -26px;
    height: 85px;
    position: absolute;
    right: 50%;
    top: 903px;
    width: 20px;
    z-index: 99999;
}
#testimonials {
    border-top: 1px solid @magentaLight;
    text-align: center;
    button {
        border: none;
        height: 31px;
        margin: 45px 4px 85px;
        width: 31px;
    }
    button:focus {
        outline: none;
    }
    button.prev {
        background-position: -54px -20px;
    }
    button.next {
        background-position: -89px -20px;
    }
}
.testimonials-slider {
    li {
        display: inline-block;
        padding: 0 10px;
        text-align: left;
        width: 49%;
    }
    img {
        border: 2px solid @magentaLight;
        border-radius: 2px;
        width: 80px;
    }
    .data {
        color: #585059;
        float: right;
        font-size: 15px;
        padding-right: 10px;
        width: ~"calc(100% - 107px)";
        & > h4 {
            color: #585059;
            display: inline-block;
            margin: 0 0 0 5px;
        }
        span {
            color: #a5a1a6;
            display: inline-block;
            font-size: 12px;
        }
        & > p {
            color: @grey;
            font-size: 14px;
            line-height: 24px;
        }
    }
}
.rating, .rating div {
    background: url(images/stars.png) bottom left;
    display: inline-block;
    height: 12px;
    line-height: 10px;
    width: 65px;
}
.rating {
    div {
        background-position: top left;
        margin-left: -1px;
    }
}
#banner-gif {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;

    img {
        border-radius: 10px;
        width: 100%;
    }
}

#main-video {
    margin: 0 auto;
    max-width: 698px;
}
#featured-video {
    background: url(images/purple_bg.png);
    height: 422px;
    position: relative;
    text-align: center;

    video {
        display: none;
        height: 422px;
        margin: 0 auto;
        max-width: 698px;
        width: 100%;
    }
    .poster {
        background: url(images/hero_banner_home_photo.jpg) top center no-repeat;
        background-size: cover;
        border-radius: 10px;
        height: 100%;
        margin: 0 auto;
        max-width: 698px;
        position: relative;
        text-align: center;
        width: 100%;
    }
    .play {
        background-position: -67px -68px;
        cursor: pointer;
        display: block;
        height: 75px;
        line-height: 600px;
        position: absolute;
        right: 47%;
        top: 47%;
        width: 75px;
    }
    .play:hover {
        opacity: 0.8;
    }
}
.block {
    .part {
        display: inline-block;
        vertical-align: middle;
        width: 49%;

        &.full {
            width: 100%;

            h3 {
                text-align: center;
            }
        }

        h3 {
            color: #472e4c;
            font-size: 2.4em;
            font-weight: normal;
            line-height: 1.1em;
            margin: 0;
            text-transform: uppercase;
        }
        p {
            color: @grey;
            font-size: 1.2em;
            line-height: 27px;
        }

        a:hover {
            text-decoration: underline;
        }
    }
    .part.last {
        padding-left: 10px;
    }
}

#featured-function {
    background: url(images/white_bg.png) top center;
    padding: 60px 0 70px;

    h1 {
        color: @magentaDark;
        font-size: 1.8em;
        font-weight: normal;
        line-height: 32px;
        margin: 0 0 60px 0;
        text-align: center;
    }

    h2 {
        font-size: 3.6em;
        font-weight: normal;
        text-transform: uppercase;
    }

    p {
        font-size: 1.2em;
        padding: 0 10%;
        text-align: center;
    }

    .image {
        text-align: center;

        p {
            color: black;
            font-size: 128px;
            font-weight: bold;
            margin: 60px 0 0 0;

            span {
                display: inline-table;
            }

            img {
                height: 128px;
            }
        }
    }
}

#ft-main {
    //background: url(images/white_bg.png) top center;
    background: white;
    padding: 60px 0 70px;
    text-align: center;

    h2 {
        font-size: 3.6em;
        font-weight: normal;
        text-transform: uppercase;
    }

    h3 {
        color: #472e4c;
        font-size: 2em;
        font-weight: 200;
        line-height: 32px;
        margin: 0 0 60px 0;
        text-align: center;
        text-transform: uppercase;
    }

    h4 {
        text-align: center;
        text-transform: uppercase;
    }

    img {
        max-width: 90%;
    }

    p {
        font-size: 1.2em;
        padding: 0 10% !important;
        text-align: center;
    }
}

nav.features-nav {
    display: none;
    margin: -180px 0 0 0;
    position: fixed;
    left: 0;
    top: 50%;

    &.active {
        display: block;
    }

    span {
        display: none;
        text-transform: uppercase;
    }

    ul {
        padding: 0;
        width: 64px;
                
        li {
            background: @purple;
            //border-bottom-left-radius: 20px;
            //border-top-left-radius: 20px;
            box-shadow: 2px 2px 6px #666;
            color: white;
            float: right;
            height: 120px;
            list-style: none;
            padding: 2px 5px 2px 12px;
            text-align: right;
            -webkit-transform: translate(-32px, 0);
            -moz-transform: translate(-32px, 0);
            -ms-transform: translate(-32px,0);
            transform: translate(-32px,0);
            vertical-align: middle;
            width: 64px;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;

            &.nav-ft-1 {
                background: @green;
            }

            &.nav-ft-2 {
                background: @greenPurple;
            }

            &.nav-ft-3 {
                background: @purple;
            }
            
            img {
                padding: 0 10px 0 10px;
                vertical-align: middle;
            }

            span {
                font-size: 0.7em;
                margin-top: 36px;
            }
            
            &:hover, &.selected {           
                -webkit-transform: translate(0, 0);
                -moz-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                transform: translate(0, 0);

                span {
                    display: block;
                }
            }
        }
    }
}

#filter-discovery {
    background: url(images/white_bg.png) top center;
    padding: 60px 0 100px;
}
#unified-contacts {
    background: url(images/grey_bg.png) top center;
    padding: 105px 0 125px;

    ul {
        margin: 32px 0;
        padding: 0;
        text-align: left;

        li {
            color: @magentaDark; 
            display: inline-table;
            text-transform: uppercase;

            &:after {
                content: '|';
                padding: 0 16px;
            }

            &:last-child:after {
                content: '' !important;
                padding: 0;
            }
        }
    }
}
#reach-in {
    background: url(images/white_bg2.png) top center;
    padding: 106px 0 100px;
}
#hinter {
    background: url(images/purple_bg.png) top center;
    color: white;
    padding: 106px 0 100px;

    .part.img img {
        max-width: 560px;
    }

    .part {
        h3, aside, p {
            color: white;
        }

        h3 {
            font-size: 2.4em;
            text-transform: uppercase;
        }

        aside {
            font-size: 1.4em;
            margin-top: 16px;
        }

        p {
            font-size: 17px;

            img {
                margin-left: 6px;
                vertical-align: middle;
            }
        }

        a {
            background: white;
            padding: 2px 10px 5px 10px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
#join-us {
    background: url(images/join_bg.png) top center;
    padding: 60px 0 70px;
    text-align: center;
	border-top: 1px solid @magentaLight;



    .image-block {
        position: relative;

        .bottom_button_image_wrap {
            background: url(images/try_it_now_bottom_bg.jpg) no-repeat center top;
            margin: 0;
            min-height: 480px;
            position: relative;
            top: 0;
        }

        .join-us-text {
            left: 0;
            margin: 0 auto;
            position: absolute;
            top: 60px;
            width: 100%;

            p {
                font-size: 3em;
                max-width: 640px;
                padding: 0 15%;
                text-align: left;
            }

        }

        img {
            width: 100%;
        }
    }

    .highlight-block {
        border-radius: 10px;
        margin: 0 auto;
        padding-top: 60px;
        width: 90%;
    }

    p {
        color: white;
        font-size: 32px;
        font-weight: 300;
        margin: 0 0 30px;
    }
}

.post {
	min-height: 250px;
	h1, h1 a{
		color: @magentaDark;
		font-size: 25px;
		text-decoration: none;
		&.big-center{    
			font-size: 40px;
			font-weight: bold; 
			text-align: center; 
			padding-bottom: 20px;
		}
	}
	a{ text-decoration: none; color: @magenta; }
	.wp-post-image {
		display: block;
		margin: 15px auto;
		max-width: 100%;
		height: auto;
	}
	.post-categories, .post-categories > li {
		display: inline;
		padding: 0;
	}
	.post-meta {
		font-size: 12px;
		margin-top: -10px;
	}
}

.blogposts{
	.post {
		display: inline-block;
		margin: 0 0.5%;
		vertical-align: top;
		width: 48%;
		border-bottom: 1px solid #f7f7f7;
	}
}
.blogpost .post{
	width: ~"calc(100% - 385px)";
	display: inline-block;
}
#sidebar {
    display: inline-block;
    width: 360px;
	vertical-align: top;
	margin-left:10px;
	padding-left:10px;
	border-left: 1px solid #f7f7f7;
	a{
		color: @greyMagenta;
		font-size: 14px;
	}
	.side-title {
		color: @magenta;
		font-size: 18px;
		margin: 24px 0 0;
	}
	.search-form {
		margin-top: 10px;
	}
	.search-field {
		border: 1px solid #eee;
		font-size: 14px;
		line-height: 26px;
		padding: 2px 10px;
		vertical-align: top;
		width: ~"calc(100% - 110px)";
	}
	.search-submit {
		background: @magentaDark;
		border: medium none;
		color: #fff;
		line-height: 31px;
		vertical-align: top;
		width: 84px;
	}
}

.commentlist{
	.comment-meta, .reply {
		float: right;
		margin-top: -19px;
		font-size: 13px;
	}
	li{
		border-bottom: 1px solid #f7f7f7;
		padding-bottom: 2px;
		padding-top: 8px;
	}
}
#commentform {
	textarea{
		height: 155px;
		width: 100%;
	}
	#submit{
		margin: 0;
	}
}
.reach-in-animation {
    margin: 42px 0 50px 31px;
    .inner {
        position: relative;
        width:414px;
        height:417px;
        border-radius: 50%;
        background: url(images/me.png) no-repeat center center;
    }
    .circle {
        position: absolute;
        width:105px;
        height:105px;
        font-size: 12px;
        text-align:center;
        vertical-align:middle;
        margin-top: -50px;
        margin-left: -50px;
        left: 50%;
        top: 50%;
        line-height: 75px;
    }
    .btn {
        background: #1b7c6a;
        color:#fff;
        width: 105px;
        line-height: 32px;
        border-radius: 5px;
        font-size: 13px;
    }
    .icon {
        margin: 0 auto 10px;
        background: #c8cbcc;
        transition: background-color 2s linear;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        span {
            margin-top: 21px;
            background: url('images/anim-sprite.png');
            width: 21px;
            height: 21px;
            display: inline-block;
        }
    }
    .icon.follow {
        span {
            margin-top: 25px;
            background-position: -30px 0;
        }
    }
    .icon.comment {
        span {
            width: 27px;
            background-position: -61px 0;
        }
    }
    .icon.connect {
        span {
            margin-top: 24px;
            width: 26px;
            background-position: -103px 0;
        }
    }
    .icon.message {
        span {
            margin-top: 22px;
            width: 22px;
            background-position: -143px 0;
        }
    }
    .arrow {
        background: url('images/anim-sprite.png');
        width: 16px;
        height: 12px;
        background-position: 0px -24px;
        position: absolute;
        right: -6px;
        top: 24%;
        opacity:0;
        transition: opacity 2s linear;
    }
    .active {
        .arrow {
            opacity: 1;
        }
        .icon {
            background: #72468f;
        }
        .in {
            background-position: -26px -24px;
        }
    }
    .in {
        background: url("images/anim-sprite.png") -59px -24px;
        display: inline-block;
        height: 24px;
        position: absolute;
        right: 19px;
        top: 41px;
        width: 24px;
        transition: background-position .2s ease-in;
    }
    .profil {
        width: 137px;
        margin: 0 auto !important;
        text-align: center;
        .img {
            width: 137px !important;
            height: 137px !important;
            border: 3px solid #1b7c6a;
            border-radius: 50%;
            background: #fff url(images/faces.png) no-repeat;
            margin-top: 130px !important;
			display: inline-block;
			background-size: cover;
			&.p1{ background-position: 0 -169px; }
			&.p2{ background-position: 0 -338px; }
			&.p3{ background-position: 0 -507px; }
			&.p4{ background-position: 0 -676px; }
			&.p5{ background-position: 0 -844px; }
        }
        .btn {
            margin: 0 auto;
            background: #72468f;
            margin-top: -9px;
            z-index: 9;
            position: relative;
        }
    }
}

.about {
	text-align: center;
	.part {
		display: inline-block;
		width: 27%;
		vertical-align: top;
		text-align: left;
		&.middle {
			width: 40%;
			margin: 0 1%;
		}
	}
	h2{
		color: @magentaDark;
		font-size: 25px;
		line-height: 35px;
		text-align: center;
	}
	p{ line-height: 24px; }
	img.n{ margin: 0 auto; display: block; }
	#our-team { 
		background: none; 
		border: none;
		margin-top: 28px !important;
		.member{
			width: 100%;
			margin-bottom: 25px;
		}
	}
}

.the-content{
	padding-bottom: 40px;
	h2 {
		color: #333;
		font-size: 18px;
		margin: 40px 0 20px;
	}
	p{
		margin: 0;
		padding: 0;
		line-height: 25px;
		color: #777;
		margin-bottom: 10px;
	}
	h3 {
		color: #555;
		font-size: 16px;
		margin: 25px 0 5px;
	}
	li{  margin-bottom: 7px; }
}
#job-offers{ margin-bottom: 50px; }
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.frm {
	max-width: 600px;
	margin: 0 auto;
	font-size: 15px;
	label {
		&.area{ vertical-align: top; }
		display: inline-block;
		margin-right: 8px;
		width: 85px;
		text-align: right;
	}
	textarea.input{ 
		height: 160px;
		width: 480px;
	}
	.input {
		line-height: 22px;
		margin-bottom: 15px;
		padding: 5px 10px;
		width: 320px;
		&.small{ width: 200px; } 
	}
	.magenta-btn{ margin: 0 0 0 96px; }

}
/*********  unified contacts animation *********/
.unified-contacts-animation{
	padding-right: 120px;
    .me {
        background: url(images/me3.png) no-repeat center center;
        height: 221px;
        margin: 210px auto 255px;
        width: 217px;
    }
	.circle{
        position: absolute;
        margin: 32px 0 0 45px; 
        .img {
            width: 85px;
            height: 85px;
            border:2px solid #1b7c6a;
            border-radius: 50%;
            background: url(images/faces.png);
			background-size: cover;
        }
        .icn {
            background: url("images/anim-sprite.png");
            display: inline-block;
            height: 30px;
            position: absolute;
            width: 30px;
			right: 4px;
			top: 62px;
        }
        .in {
            background-position: -227px -24px;
        }
	}
	
	.bio{
		background: url(images/linkedin_search.png) no-repeat;
		width: 248px;
		height: 243px;
		position: absolute;
		margin: -138px 0 0 169px;
		p{
			color: @purple;
			font-size: 14px;
			font-weight: bold;
			margin: 150px 0 0 102px;
			text-align: center;
			position: absolute;
			line-height: 18px;
            text-align: center;
		}
	}
	.interactions{
		width: 200px;
		height: 297px;
		background: url(images/search_signals.png);
		position: absolute;
		margin: 149px 0 0 206px;
		span {
			border: 1px solid;
			border-radius: 5px;
			color: #6b4173;
			display: inline-block;
			line-height: 28px;
			margin: 297px 0 0 45px;
			padding: 0 12px;
			position: absolute;
			font-weight: bold;
			white-space: nowrap;
		}
		p{
			color: @purple;
			font-size: 14px;
			font-weight: bold;
			margin: 170px 0 0 60px;
			text-align: center;
			position: absolute;
			line-height: 18px;
		}
		.reach-now-data {
			color: #251d26;
			margin: 136px 0 0 10px;
			position: absolute;
			white-space: nowrap;
			width: 166px;
			label{
				vertical-align: top;
				font-size: 13px;
				font-weight: bold;
				width: 60px;
				&.l{ text-align: right; margin-bottom: 23px; }
				display: inline-block;
					&.sep{
						display: inline-block;
						width: 50px;
				}
			}
		}
	}
	.recent-shares{
		background: url(images/linkedin_contacts_book.png) no-repeat;
		width: 170px;
		height: 215px;
		position: absolute;
		border-radius: 5px;
		margin: -213px 0 0 -97px;
		box-sizing: border-box;
		padding: 10px;
		color:#fff;
		p{
			color: @purple;
            font-size: 14px;
            font-weight: bold;
            margin: 128px 0 0 0px;
            text-align: center;
            position: absolute;
            line-height: 18px;
            width: 110px;
			span{ 
				background: url(images/shares-sprite.png) no-repeat;
				display: inline-block; width: 14px; height: 15px;
				margin: 4px 0 0 -22px;
				position: absolute;
				&.gp{ background-position: 0 0; }
				&.tw{ background-position: -14px 0; }
				&.in{ background-position: -28px 0; }
				}
			 
		}
	}
	.shared-topics{
		background: url(images/upload_csv.png) no-repeat;
        height: 200px;
		width: 190px;
		position: absolute;
		border-radius: 5px;
		margin: 229px 0 0 -63px;
		box-sizing: border-box;
		padding: 10px;
		color:#fff;

		p{ 
            color: @purple;
            font-size: 14px;
            font-weight: bold;
            margin: 140px 0 0 0px;
            text-align: center;
            position: absolute;
            line-height: 18px;
            width: 110px;
        }
	}
	.recent-shares b, .shared-topics b{
		display: block;
		font-size: 13px;
		font-weight: bold;
		padding: 5px 0 0;
		text-align: center;
		text-transform: uppercase;
	}

	
}
/*********  discovery  animation *********/ 
.hidden{ display: none; }
.discovery-animation {
    margin: 0 auto;
    width: 595px;
    text-align: center;
    .me {
        background: url(images/me2.png) no-repeat center center;
        height: 258px;
        margin: 0 auto;
        width: 258px;
        padding-top: 61px;
    }
    .border {
        width: 316px;
        height: 319px;
        margin: 77px auto 0;
    }
    .by-shared {
        opacity: 0;
        color: transparent;
        transition: color 2s ease;
    }
    .input-big-data {
        padding-top: 63px;
        .wrap {
            border: 1px solid #6b4173;
            width: 190px;
            margin: 0 auto;
            border-radius: 5px;
        }
        input {
            background: #f9f5fa url(images/green-loop.png) no-repeat 158px center;
            border: 1px solid #cac7cb;
            border-radius: 5px;
            color: #1b7c6a;
            font-size: 16px;
            font-weight: bold;
            height: 40px;
            padding: 0 15px;
            width: 158px;
        }
    }
    .shutter {
        width: 236px;
        height: 235px;
        margin: 42px 0 0 41px;
        position: absolute;
    }
    .circle {
        position: absolute;
        opacity:0;
        margin:120px 0 0 123px;
        transition: all .8s ease-out;
        .img {
            width: 68px;
            height: 68px;
            border:2px solid #1b7c6a;
            border-radius: 50%;
            background: url(images/faces.png);
			background-size: cover;
			
        } 
		&.circle2 .img{ background-position: 0 -84px; }
		&.circle3 .img{ background-position: 0 -168px; }
		&.circle4 .img{ background-position: 0 -252px; }
		&.circle5 .img{ background-position: 0 -335px; }
		&.circle6 .img{ background-position: 0 -419px; }
        .btn {
            margin: -52px 0 0 -113px;
            min-width: 104px;
            position: absolute;
            line-height: 31px;
            background: #1b7c6a;
            color:#e9eff2;
            border-radius: 5px;
        }
        .icn {
            background: url("images/anim-sprite.png");
            display: inline-block;
            height: 24px;
            position: absolute;
            width: 24px;
            transition: background-position .2s ease-in;
            right: 3px;
            top: 48px;
        }
        .in {
            background-position: -26px -24px;
        }
        .fb {
            background-position: -93px -24px;
        }
        .gp {
            background-position: -124px -24px;
        }
        .tw {
            background-position: -156px -24px;
        }
        .wp {
            background-position: -187px -24px;
        }
    }
    .circle.right {
        .btn {
            margin: -52px 0 0 81px;
        }
    }
}
.discovery-animation.step3 {
    .border {
        background: url(images/border2.png) no-repeat center center;
    }
    .circles {
        display: block;
    }
}
.discovery-animation.step1 {

    .by-shared {
        border-radius: 50%;
        color: #fff;
        display: block;
        font-size: 22px;
        line-height: 258px;
        background: rgba(107,65,115,0.6);
        font-weight: bold;
        margin-top: -30px;
        transition: background-color 2s ease;
        opacity: 1;
    }
}
.discovery-animation.step2 .input-big-data, .discovery-animation.step3 .input-big-data {
    display: block;
}
.shutter {
    .frame {
        background: url(images/shutter.png) no-repeat 300px 0;
        width: 236px;
        height: 235px;
    }
    .frame.f0 {
        background-position: right center;
    }
    .frame.f1 {
        background-position: -1407px 0;
    }
    .frame.f2 {
        background-position: -843px 0;
    }
    .frame.f3 {
        background-position: -562px 0;
    }
    .frame.f4 {
        background-position: -281px 0;
    }
    .frame.f5 {
        background-position: 0 0;
    }
}
.discovery-animation.step3.m {
    .circle {
        opacity: 1;
    }
    .circle1.circle {
        margin: -23px 0 0 63px;
    }
    .circle2.circle {
        margin: 142px -32px 0;
    }
    .circle3.circle {
        margin: 271px 77px 0;
    }
    .circle4.circle {
        margin: 206px 253px 0;
    }
    .circle5.circle {
        margin: 30px 244px 0;
    }
}

// Improve results animation
.improve-results-animation {
    position: relative;
    text-align: center;

    .magnet {
        margin-bottom: 24px;
        transition: all .3s ease-in-out;
    }

    .contents {
        -ms-transform: scale(0.7, 0.7); /* IE 9 */
        -webkit-transform: scale(0.7, 0.7); /* Safari */
        transform: scale(0.7, 0.7);
        transition: all .3s ease-in-out;
    }
}
#reach-in.intoView {
    .magnet {
        -ms-transform: scale(0.7, 0.7); /* IE 9 */
        -webkit-transform: scale(0.7, 0.7); /* Safari */
        transform: scale(0.7, 0.7);
    }

    .contents {
        -ms-transform: scale(1, 1); /* IE 9 */
        -webkit-transform: scale(1, 1); /* Safari */
        transform: scale(1, 1);
    }
}

// Features
.page-id-421,
.page-id-550 {
    h1.title {
        text-align: center;
        text-transform: uppercase;
    }
}

.featured-item {
    margin: 0 auto !important;
    max-width: 860px;
    padding: 24px 50px;

    h2 {
        font-size: 1.8em;
        text-transform: uppercase;
    }

    img {
        margin: 0 auto;
    }

    p {
        font-size: 1.2em;
        &.small {
            font-size: 1em;
        }
    }

    .text-align-center {
        text-align: center;
    }

    .view-more {
        cursor: pointer;
        margin-top: 32px;
        text-align: center;

        i {
            font-size: 2em;
            transition: all .3s ease-in-out;
        }

        &:hover {
            i {
                color: #333;
                font-size: 3em;
            }
        }
    }

    .vc_progress_bar .vc_single_bar {
        background: #4CADC9!important;
    }

}

#card-glance {
    padding-top: 0;
}

#card-accordion {
    .vc_tta-panel-body {
        border: 1px solid #f0f0f0;
        border-top: none;
        padding-bottom: 24px;
    }
}

// Newsletter plugin styles
.widget_wysija_cont {
    background: #989399;
    border-radius: 10px;
    padding: 15px;

    form {
        h3 {
            color: white !important;
            margin-top: 0 !important;
            text-transform: uppercase;
        }
    }

    input {
        border: none;
        padding: 5px 5%;
        width: 90%;
    }

    .wysija-submit {
        background: #6b4173;
        border-radius: 3px !important;
        color: #fff !important;
        font-size: 14px !important;
        line-height: 16px !important;
        margin-top: 13px !important;
        width: 100% !important;

        &:hover {
            background: #fff !important;
            color: #72468f !important;
        }
    }
}

#dynamic-filters {

    .wpb_wrapper {
        position: relative;
    }

    #dynamic-filters-gear {
        position: absolute;
        left: 45%;
        top: -15px;
        z-index: 10;

        .fa-cog {
            text-shadow: 4px 0 0 white, -4px 0 0 white, 0 4px 0 white, 0 -4px 0 white, 2px 2px white, -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white;
        }
    }
}

// Pricing table
#pricing-switch {
    text-align: center;

    li {
        border-bottom: 3px solid transparent;
        color: @purple;
        cursor: pointer;
        display: inline-table;
        font-size: 1.2em;
        font-weight: bold;
        list-style: none;
        margin-bottom: 30px;
        margin-right: 24px;
        padding-bottom: 6px;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;

        &:last-child {
            margin-right: 0;
        }

        &.active,
        &:hover {
            border-bottom: 3px solid @purple;
        }
    }
}
#month-pricing {
    display: none;
}

.professional {
    .rpt_title, .rpt_foot {
        background: #1fb3c4 !important;
    }
}

.salesforce {
    .rpt_title, .rpt_foot {
        background: #1e73be !important;
    }
}

.growth {
    .rpt_title, .rpt_foot {
        background: @purple !important;
    }
}

.rpt_recurrence {
    margin-top: 12px;
}

.rpt_recommended_plan {
    // top: 0 !important;

    .rpt_title {
        font-size: 1.8em !important;
    }
    .rpt_feature {
        font-size: 1.2em !important;
    }
}

.rpt_features {
    min-height: 210px;
}

#rpt_pricr {
    .rpt_title {
        line-height: 1.4em;

        aside {
            font-size: 0.8em;
        }
    }

    .rpt_subtitle {
        p {
            color: white;
            line-height: 1.3em;
            font-size: 1.3em;

            span {
                font-size: 1.6em;
            }
        }
    }

    img.rpt_recommended {
        position: absolute !important;
        right: 12px !important;
        top: 18px !important;
        height: 32px !important;
    }
}

.rpt_style_basic .rpt_plan .rpt_head .rpt_price .rpt_currency {
    font-size: 0.7em !important;
    top: 0 !important;
}
.rpt_style_basic .rpt_plan .rpt_head .rpt_recurrence {
    padding-top: 0 !important;
    padding-bottom: 4px !important;
}
.early-adopter,
.annual-discount {
    background: red;
    border-radius: 3px;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    padding: 3px 12px;
    text-transform: uppercase;
}
.regular-price,
.annual-price {
    color: red;
}
.trial {
    font-size: 0.7em;
}

h1.faq {
    margin-top: 64px;
}

// Salesforce: Personal social stream pages features
// .rpt_plan_1 {

//     .rpt_feature_1-7,
//     .rpt_feature_1-8,
//     .rpt_feature_1-9 {
//         font-size: 0.9em !important;
//         padding: 0 24px 6px 24px !important;
//         text-align: left;
//     }

//     .rpt_feature_1-6,
//     .rpt_feature_1-7,
//     .rpt_feature_1-8 {
//         border-bottom: none !important;
//     }
// }
// Growth: Content hub features
.rpt_feature:last-child {
    border-bottom: none !important;
}
.rpt_plan_2 {

    .rpt_feature_2-7,
    .rpt_feature_2-8,
    .rpt_feature_2-9,
    .rpt_feature_2-10,
    .rpt_feature_2-11 {
        font-size: 0.9em !important;
        padding: 0 24px 6px 24px !important;
        text-align: left;
    }

    .rpt_feature_2-6,
    .rpt_feature_2-7,
    .rpt_feature_2-8,
    .rpt_feature_2-9,
    .rpt_feature_2-10 {
        border-bottom: none !important;
    }
}
form.pricing-accounts {
    text-align: center;

    #content-hub,
    #hinter-account,
    #team-account,
    #startup-account, {
        border: none;
        box-shadow: none;
        border-radius: 6px;
        text-align: center;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        width: 90%;
    }

    #content-hub {
        background: #f5f5f5;
        border: 3px solid black; 
        color: black;
        font-size: 1.2em;
        margin: 50px 0 0 0;
        padding: 12px 5% 15px 5%;

        h1 {
            color: black;
            text-transform: uppercase;
        }

        ul {
            margin: 30px auto;
            width: 80%;

            li {
                font-size: 0.8em;
                text-align: left;
            }
        }

        .price {
            text-align: center;

            p {
                background: #00cc00;
                border-radius: 6px;
                color: white;
                font-size: 1em;
                margin: 0 auto 18px auto;
                padding: 6px 0;
                text-align: center;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
                width: 240px;

                span {
                    font-size: 0.8em;
                }
            }
        }

        &:hover {
            background: #fbfbfb;

            .price p {
                background: #03de13;
            }
        }
    }

    #hinter-account {
        background: black;
        color: white;
        font-size: 1.2em;
        margin: 50px 0 0 0;
        padding: 12px 5% 15px 5%;

        img {
            margin-right: 12px;
            vertical-align: middle;
            width: 50px;
        }

        &:hover {
            background: #464646;
        }
    }

    #team-account {
        background: #FFD700;
        color: #996515;
        font-size: 1.2em;
        margin: 50px 0 0 0;
        padding: 17px 5% 20px 5%;

        &:hover {
            background: #FFDF00;
        }
    }

    #startup-account {
        background: #ddd;
        color: #666666;
        font-size: 1em;
        margin: 20px 0 0 0;
        padding: 9px 5% 12px 5%;

        &:hover {
            background: #eee;
        }
    }

    &.last {
        margin-bottom: 50px;
    }
}

@media (max-width: 1024px) {
.block {
    .part.img {
        img.anim {
            width: 100%;
        }
    }
}
}
@media (max-width: 800px) {
	.block .part, .block .part.img img.anim {
		display: block;
		margin: 0 auto !important;
		width: 100%;
	}
	.block {
		padding: 30px 0 !important;
		.part.img {
			position: relative;
			overflow: hidden;
			margin: 20px 0 0;
			img.anim {
				margin-bottom: 15px;
			}
		}
	}
	.flip{ 
		align-items: flex-start;
		display: flex;
		flex-direction: column;
	}
	.flip .part { order: 1; }
	.flip .part.img { order: 2 !important; }
	.reach-in-animation{ margin-left: 0 !important;}
	
	.about .part{
		width: 100% !important;
		margin-bottom: 40px;
	}
	.discovery-animation .border{ margin: 77px auto; }
	.reach-in-animation .inner{ margin: 0 auto; }
	.discovery-animation{ width: 100%;}
}
@media (max-width: 768px) {
	#relmenu {
		display: block;
		float: none;
		text-align: left;
		& > ul {
			& > li {
				& > a {
					padding: 20px;
				}
			}
		}
	}
	#header {
		height: auto;
		text-align: left;
	}
    #footer .wrapper {
        padding-top: 30px;
    }
	#hd-login, .lang-switcher, #menu-line {
		display: none !important;
	}
	#logo {
		float: none;
		margin: 7px 0;
	}
    .lang-switcher-small {
        display: block !important;
        
        ul {
            padding: 20px 0 0 0 !important;
            text-align: center;

            li {
                display: inline-table;
                list-style: none;
                margin-left: 20px;

                &:first-child {
                    margin-left: 0;
                }

                a {
                    margin: 0;
                }

                a.current, a:hover {
                    border-top: 2px solid #ababab;
                }

                .flag {
                    margin-right: 6px;
                }
            }
        }
    }
	.mobile-only {
		display: block !important;
	}
	.mobile-only.sign {
		a {
			color: @magenta !important;
			font-weight: bold;
			text-align: center;
		}
	}
	.two-col-slide .titles &>h3,
    .two-col-hero .titles &>h3.titles &>span {
		font-size: 61px;
	}

}
@media (max-width: 640px) {
	#footer {
		.part {
			width: 47%;
		} 
	}
	.two-col-slide .titles &>h3,
    .two-col-hero .titles &>h3 .titles &>span {
		font-size: 50px;
	}
	.two-col-slide,
    .two-col-hero {
		.data {
			& > img {
				width: 100%;
			}
		}
	}
	.testimonials-slider {
		li {
			width: 100%;
		}
	}
	#featured-video .poster, #featured-video video {
		height: 260px;
	}
	#featured-video {
		.play {
			right: 39%;
			top: 37%;
		}
	}
	.blogposts{
		.post {
			width: 100%;
			margin: 0;
		}
	}
	#our-team {
		.member {
			min-width: 0;
			width: 100%;
		}
	}
}
@media (max-width: 480px) {
	#footer {
		.part {
			width: 100%;
		}
	}
	.two-col-slide,
    .two-col-hero {
		.titles {
			& > span {
				display: block;
			}
		}
	}
	.block {
		.part.img {
			img.anim {
				width: 100%;
			}
		}
	}
	.dotes{ right: 2%; }
	.frm{
		textarea.input{ width: 320px; }
	}
	.block .part.img{ width: 480px; margin-left: -10px !important; }
}
@media (max-width: 360px) {
	.reach-in-animation { margin-left: 10px; }
	.reach-in-animation .profil .img{ margin-top: 73px !important;}
	.reach-in-animation .inner{ width: 320px; height: 320px; background-size: cover; }
	.frm{
		label{
			display: block;
			text-align: left;
		}
		.input{ width: 94% !important; margin-bottom: 10px; }
		.magenta-btn{ margin: 0 auto; width: 120px; display: block; }
	}
	.block .part.img{ width: 360px; }
}
 