/*!
Theme Name: Relevante
Theme URI: http://relevante.me
Author: Relevante
Author URI: http://relevante.me
Description: Relevante Responsive Wordpress Theme.
Version: 1.0
*/
body {
  color: #989399;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #6b4173;
}
h2 {
  color: #6b4173;
  text-align: center;
}
.signup-home-bottom-btn,
.waitinglist {
  background: none !important;
  border: 3px solid white !important;
  border-radius: 3px;
  color: white;
  line-height: 32px !important;
  padding: 0 50px;
  text-transform: uppercase;
}
.signup-home-bottom-btn:hover,
.waitinglist:hover {
  background: white !important;
  color: #72468f;
}
.red {
  color: red;
}
.linkedinTracking {
  display: none;
}
#relmenu-wrapper {
  border-bottom: 1px solid #f7f7f7;
}
#relmenu,
#relmenu ul,
#relmenu ul li,
#relmenu ul li a,
#relmenu #menu-button {
  border: 0;
  box-sizing: border-box;
  display: block;
  line-height: 1;
  list-style: none;
  margin: 0;
  moz-box-sizing: border-box;
  padding: 0;
  position: relative;
  webkit-box-sizing: border-box;
}
#relmenu:after,
#relmenu  > ul:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
#relmenu {
  display: inline-block;
  line-height: 1;
  width: auto;
}
#relmenu #menu-button {
  display: none;
}
#relmenu > ul > li {
  float: left;
  text-align: left;
}
#relmenu > ul > li > a {
  color: #7d7380;
  font-size: 13px;
  moz-transition: color .2s ease;
  ms-transition: color .2s ease;
  o-transition: color .2s ease;
  padding: 30px 9px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .2s ease;
  webkit-transition: color .2s ease;
}
#relmenu > ul > li.has-sub > a {
  padding-right: 25px;
}
#relmenu > ul > li.has-sub > a::after {
  border-bottom: 1px solid #7d7380;
  border-right: 1px solid #7d7380;
  content: "";
  height: 4px;
  moz-transform: rotate(45deg);
  moz-transition: border-color 0.2s ease;
  ms-transform: rotate(45deg);
  ms-transition: border-color 0.2s ease;
  o-transform: rotate(45deg);
  o-transition: border-color 0.2s ease;
  position: absolute;
  right: 10px;
  top: 31px;
  transform: rotate(45deg);
  transition: border-color 0.2s ease;
  webkit-transform: rotate(45deg);
  webkit-transition: border-color 0.2s ease;
  width: 4px;
}
#relmenu > ul > li.has-sub:hover > a::after {
  border-color: #72468f;
}
#relmenu ul ul {
  left: -9999px;
  position: absolute;
}
#relmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#relmenu ul ul li {
  height: 0;
  moz-transition: height .2s ease;
  ms-transition: height .2s ease;
  o-transition: height .2s ease;
  transition: height .2s ease;
  webkit-transition: height .2s ease;
}
#relmenu ul ul li a {
  background: #333333;
  color: #dddddd;
  font-size: 12px;
  moz-transition: color .2s ease;
  ms-transition: color .2s ease;
  o-transition: color .2s ease;
  padding: 10px 20px;
  text-decoration: none;
  transition: color .2s ease;
  webkit-transition: color .2s ease;
  width: 160px;
}
#relmenu ul ul li.has-sub > a::after {
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  height: 4px;
  moz-transform: rotate(-45deg);
  moz-transition: border-color 0.2s ease;
  ms-transform: rotate(-45deg);
  ms-transition: border-color 0.2s ease;
  o-transform: rotate(-45deg);
  o-transition: border-color 0.2s ease;
  position: absolute;
  right: 10px;
  top: 13px;
  transform: rotate(-45deg);
  transition: border-color 0.2s ease;
  webkit-transform: rotate(-45deg);
  webkit-transition: border-color 0.2s ease;
  width: 4px;
}
#relmenu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}
#relmenu ul li:hover > ul > li {
  height: 32px;
}
#relmenu li:hover > ul {
  left: auto;
}
#menu-line {
  background: #72468f;
  display: none;
  height: 3px;
  left: 0;
  moz-transition: all 0.25s ease-out;
  ms-transition: all 0.25s ease-out;
  o-transition: all 0.25s ease-out;
  position: absolute;
  top: 0;
  transition: all 0.25s ease-out;
  webkit-transition: all 0.25s ease-out;
}
#relmenu:hover #menu-line {
  display: block;
}
#relmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#relmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#relmenu.align-center ul ul {
  text-align: left;
}
#relmenu.align-right > ul > li {
  float: right;
}
#relmenu.align-right ul ul {
  text-align: right;
}
#relmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#relmenu.align-right ul ul li.has-sub > a::after {
  border-bottom: 0;
  border-left: 1px solid #dddddd;
  border-right: 0;
  border-top: 1px solid #dddddd;
  left: 10px;
  right: auto;
}
#relmenu.align-right li:hover > ul {
  right: 0;
}
#relmenu  > ul  > li:hover  > a,
#relmenu  > ul  > li.active  > a {
  color: #72468f;
}
#relmenu ul ul li:hover  > a,
#relmenu ul ul li a:hover {
  color: #ffffff;
}
/*
YOU CAN ADD THIS TOO, CAUSE LESS COMPILATION ERROR.
,only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px),
 only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px),
 only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px),
 only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px),
 only screen and (min-resolution: 192dpi) and (max-width: 1024px),
 only screen and (min-resolution: 2dppx) and (max-width: 1024px) 
*/
@media all and (max-width: 768px) {
  #relmenu {
    width: 100%;
  }
  #relmenu ul {
    display: none;
    width: 100%;
  }
  #relmenu ul ul li a {
    background: none;
    color: #000000;
    font-size: 12px;
    padding: 20px 20px 20px 30px;
  }
  #relmenu ul ul ul li a {
    padding-left: 40px;
  }
  #relmenu #menu-button {
    color: #000000;
    cursor: pointer;
    display: block;
    font-size: 12px;
    padding: 20px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: -56px;
    width: 100px;
  }
  #relmenu #menu-button::after {
    background: #000000;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 15px;
  }
  #relmenu #menu-button::before {
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    right: 20px;
    top: 25px;
    width: 15px;
  }
  #relmenu .submenu-button {
    border-left: 1px solid rgba(120, 120, 120, 0.15);
    cursor: pointer;
    display: block;
    height: 52px;
    position: absolute;
    right: 0;
    top: 0;
    width: 52px;
    z-index: 10;
  }
  #relmenu .submenu-button::after {
    background: #000000;
    content: '';
    display: block;
    height: 11px;
    left: 26px;
    position: absolute;
    top: 21px;
    width: 1px;
    z-index: 99;
  }
  #relmenu .submenu-button::before {
    background: #000000;
    content: '';
    display: block;
    height: 1px;
    left: 21px;
    position: absolute;
    top: 26px;
    width: 11px;
    z-index: 99;
  }
  #relmenu .submenu-button.submenu-opened:after {
    display: none;
  }
  #relmenu.align-center  > ul,
  #relmenu.align-right ul ul {
    text-align: left;
  }
  #relmenu ul li,
  #relmenu ul ul li,
  #relmenu ul li:hover  > ul  > li {
    border-top: 1px solid rgba(120, 120, 120, 0.15);
    height: auto;
    width: 100%;
  }
  #relmenu ul li a,
  #relmenu ul ul li a {
    width: 100%;
  }
  #relmenu  > ul  > li,
  #relmenu.align-center  > ul  > li,
  #relmenu.align-right  > ul  > li {
    display: block;
    float: none;
  }
  #relmenu ul ul li:hover  > a,
  #relmenu ul ul li a:hover {
    color: #000000;
  }
  #relmenu ul ul,
  #relmenu ul ul ul {
    left: 0;
    margin: 0;
    position: relative;
    right: auto;
    width: 100%;
  }
  #relmenu  > ul  > li.has-sub  > a::after,
  #relmenu ul ul li.has-sub  > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
}
.wrapper {
  margin: 0 auto;
  max-width: 1190px;
  padding: 0 10px;
  overflow: hidden;
}
#logo {
  background: url(images/logo.png) no-repeat;
  display: block;
  float: left;
  height: 47px;
  margin-top: 12px;
  width: 240px;
}
#top-bar {
  background: linear-gradient(to right, #229c85 0%, #6b4173 100%);
  color: white;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
}
#top-bar h1,
#top-bar i {
  display: inline-table;
  line-height: 1.6em;
  vertical-align: middle;
}
#top-bar h1 {
  font-size: 1.4em;
  font-weight: normal;
  margin: 6px 0;
  max-width: 300px;
  text-transform: uppercase;
  width: 40%;
}
#top-bar i {
  font-size: 1.4em;
  width: 20%;
}
#top-bar .corner-ribbon {
  width: 120px;
  background: #e43;
  position: absolute;
  text-align: center;
  line-height: 1em;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
#top-bar .corner-ribbon.shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
#top-bar .corner-ribbon.sticky {
  position: fixed;
}
#top-bar .corner-ribbon.top-right {
  top: -5px;
  right: 20px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#top-bar .corner-ribbon p {
  font-size: 0.7em;
  font-weight: bold;
  margin: 0;
  padding: 12px 0;
}
#download-guide {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 999;
}
#download-guide p {
  background: #44727d;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  box-shadow: 0 9px 12px -6px #2c2c2c;
  color: white;
  display: inline-table;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 28px;
  margin: 0;
  padding: 0 48px;
  text-transform: lowercase;
  width: auto;
}
#header {
  height: 75px;
  text-align: right;
}
.lang-switcher {
  display: inline-block;
  margin-right: 7px;
  margin-top: 26px;
  position: relative;
  vertical-align: top;
}
.lang-switcher a.current:after {
  border-bottom: 1px solid #7d7380;
  border-right: 1px solid #7d7380;
  content: "";
  height: 4px;
  margin-left: 5px;
  position: absolute;
  top: 8px;
  transform: rotate(45deg);
  transition: border-color 0.2s ease 0s;
  width: 4px;
}
.lang-switcher .flag {
  display: inline-block;
  height: 11px;
  margin-right: 10px;
  width: 16px;
}
.lang-switcher ul {
  background: #fff;
  border: 1px solid #eee;
  border-top: none;
  display: none;
  list-style: none;
  margin: 0 0 0 -15px;
  padding: 5px 0 5px;
  position: absolute;
  text-align: left;
}
.lang-switcher ul a {
  display: block;
  padding: 3px 15px;
}
.lang-switcher ul a:hover {
  background: #f7f7f7;
}
.lang-switcher ul .flag {
  margin-left: -1px;
}
.lang-switcher a {
  color: #a5a1a6;
  font-size: 13px;
  text-decoration: none;
  white-space: nowrap;
}
.lang-switcher:hover ul {
  display: block;
  z-index: 999;
}
.lang-switcher-small {
  display: none;
}
#hd-login,
.read-more,
#submit,
.magenta-btn {
  background: #72468f;
  border: 2px solid #72468f;
  border-radius: 4px;
  color: #fff !important;
  display: inline-block;
  font-size: 13px;
  line-height: 30px;
  margin: 19px 15px 0 34px;
  padding: 0 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
}
.read-more {
  margin: 20px 0 0 0;
}
#hd-login:hover,
.read-more:hover,
#submit:hover,
.magenta-btn:hover,
#footer .part input[type='submit']:hover {
  background: #fff !important;
  color: #72468f !important;
}
.arrDown,
#footer .more span,
#contactLinked span,
#contactTwitter span,
#contactEmail span,
#our-team .social a,
.linkedin-signin-btn span i,
.slider-mouse,
.dotes a,
#testimonials button,
#featured-video .play {
  background: url(images/sprite.png) no-repeat;
}
.mobile-only {
  display: none !important;
}
p.cert-safe {
  margin-top: 32px;
  text-align: center;
}
p.cert-safe img {
  max-width: 640px;
  width: 100%;
}
#footer {
  background: #f7faf9 url(images/footer_bg.png) top center;
  color: #ababab;
  line-height: 21px;
  text-align: center;
}
#footer .wrapper {
  padding-top: 100px;
}
#footer a {
  color: #ababab;
  display: inline-block;
  margin: 0 0 10px;
  text-decoration: none;
}
#footer .part {
  display: inline-block;
  margin-bottom: 20px !important;
  min-width: 200px;
  text-align: left;
  vertical-align: top;
  width: 23%;
}
#footer .part p {
  margin: 1px 0 10px;
}
#footer .part h3 {
  color: #999;
  font-size: 16px;
  margin: 0 0 10px;
  text-transform: uppercase;
}
#footer .part input[type='submit'] {
  background: #6b4173;
  border: 2px solid #6b4173;
  border: medium none;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  margin-top: 13px;
  width: 100%;
}
#footer .part textarea {
  border: 1px solid #e5e3e6;
  box-sizing: border-box;
  color: #ababab;
  display: block;
  font-size: 13px;
  height: 95px;
  padding: 5px 10px;
  width: 100%;
}
#footer .part.m {
  margin: 0 1.5%;
}
#footer .more {
  color: #4acbab !important;
  font-size: 14px;
}
#footer .more span {
  background-position: -41px 0;
  display: inline-block;
  height: 12px;
  width: 13px;
}
#ft-logo {
  margin-top: -14px !important;
}
#contactLinked span,
#contactTwitter span,
#contactEmail span {
  display: inline-block;
  height: 31px;
  margin-right: 4px;
  vertical-align: middle;
  width: 31px;
}
#contactLinked span {
  background-position: right 0;
}
#contactTwitter span {
  background-position: left -112px;
}
#contactEmail span {
  background-position: right -33px;
}
#copy {
  border-top: 1px solid #ccc;
  margin-top: 25px;
  padding: 40px 0 45px;
  text-align: left;
}
#copy > div {
  float: right;
  margin-top: -11px;
}
#copy > div img {
  margin-left: 12px;
}
#our-team {
  background: url(images/team_bg.png) center top;
  border-bottom: 1px solid #e4dfe6;
  border-top: 1px solid #e4dfe6;
  padding-bottom: 40px;
  text-align: center;
}
#our-team .member {
  display: inline-block;
  margin-bottom: 47px;
  min-width: 360px;
  text-align: left;
  width: 32%;
}
#our-team .member img {
  border: 5px solid #cbc6cc;
  border-radius: 60px;
  width: 100px;
}
#our-team .member .infos {
  float: right;
  width: calc(100% - 125px);
}
#our-team .member h4 {
  color: #585059;
  font-size: 15px;
  margin: 0 0 5px;
}
#our-team .member .info span {
  color: #8b888c;
  font-size: 13px;
}
#our-team .member p {
  font-size: 14px;
  line-height: 22px;
  margin: 12px 0 10px;
}
#our-team .social a {
  display: inline-block;
  height: 13px;
  margin-right: 12px;
  width: 14px;
}
#our-team .social a.fb {
  background-position: -55px 0 !important;
}
#our-team .social a.tw {
  background-position: -69px 0 !important;
}
#our-team .social a.in {
  background-position: -84px 0 !important;
}
#our-team h3,
#testimonials h3 {
  font-size: 32px;
  font-weight: 300;
  margin: 58px 0 54px;
}
#slider-wrapper {
  background: white;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f4fb6', endColorstr='#44b796', GradientType=0);
  height: auto;
  /*945px*/
  overflow: hidden;
}
#slider-wrapper .dotes {
  position: absolute;
  right: 3%;
  top: 50%;
  z-index: 999;
}
#slider-wrapper .dotes a {
  background-position: right -84px;
  display: block;
  height: 10px;
  margin-bottom: 7px;
  width: 10px;
}
#slider-wrapper .dotes a.highlight {
  background-position: right -70px;
}
#main-slider {
  height: auto !important;
}
#main-slider h2 {
  font-size: 2em;
  font-weight: normal;
  margin: 32px 10%;
}
#main-slider aside {
  font-size: 1.2em;
}
#main-slider .item {
  height: auto !important;
  text-align: center;
  width: 100% !important;
}
#main-slider .item h2 {
  color: #6b4173;
}
#main-slider .item p {
  margin: 0;
}
#main-slider .item img {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
#main-slider ul {
  height: auto !important;
  padding: 0;
}
#main-slider .main-slider-text {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  bottom: 32px;
  margin: 0 auto 32px auto;
  max-width: 960px;
  left: 0;
  right: 0;
  padding-bottom: 32px;
  text-align: center;
  width: 90%;
}
#main-slider .main-slider-text h2 {
  color: white;
  margin: 32px;
  font-size: 2.6em;
  font-weight: normal;
}
#main-slider .main-slider-text form {
  margin: 0 32px;
}
#join-us-video video {
  margin: 0 auto;
  max-width: 640px;
}
.signup-btn,
.request-invitation-btn {
  background: #fb8e00;
  border: none;
  border-radius: 6px;
  box-shadow: none;
  color: white;
  font-size: 1.2em;
  line-height: 48px !important;
  padding: 0 50px;
  text-transform: uppercase;
}
.signup-btn:hover,
.request-invitation-btn:hover {
  background: #f08800;
}
.linkedin-signin-btn {
  background: #2673b0;
  border-bottom: 4px solid #216094;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  line-height: 60px;
  text-decoration: none;
  vertical-align: top;
}
.linkedin-signin-btn.end {
  margin-bottom: 20px;
  text-align: center;
}
.linkedin-signin-btn b {
  font-weight: normal;
  padding: 0 20px;
  color: #fff;
}
.linkedin-signin-btn span {
  background-color: #2368a1;
  display: inline-block;
  float: left;
  width: 75px;
}
.linkedin-signin-btn span i {
  background-position: -105px 2px;
  display: inline-block;
  height: 16px;
  width: 16px;
}
.linkedin-signin-btn:hover {
  border-color: #1F5989;
}
.magenta.linkedin-signin-btn {
  background: #72468f;
  border-color: #593770;
}
.magenta.linkedin-signin-btn span {
  background-color: #684082;
}
.magenta.linkedin-signin-btn:hover {
  border-color: #513265;
}
.two-col-slide .titles,
.two-col-hero .titles {
  margin: 22px 0 42px;
}
.two-col-slide .titles > h3,
.two-col-hero .titles > h3 {
  opacity: 0.4;
}
.two-col-slide .titles > h3 span,
.two-col-hero .titles > h3 span {
  display: block;
  font-size: 18px;
}
.two-col-slide .titles > h3.active,
.two-col-hero .titles > h3.active {
  opacity: 1;
}
.two-col-slide .titles > span,
.two-col-hero .titles > span {
  margin: 0 35px;
}
.two-col-slide .data,
.two-col-hero .data {
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.two-col-slide .data.active,
.two-col-hero .data.active {
  height: auto;
  moz-transition: opacity 0.8s ease-in-out;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
  webkit-transition: opacity 0.8s ease-in-out;
}
.two-col-slide .titles  > h3,
.two-col-hero .titles  > h3,
.titles  > span {
  color: #fff;
  display: inline-block;
  font-size: 72px;
  margin: 0;
  vertical-align: top;
}
.slider-mouse {
  background-position: -1px -26px;
  height: 85px;
  position: absolute;
  right: 50%;
  top: 903px;
  width: 20px;
  z-index: 99999;
}
#testimonials {
  border-top: 1px solid #e4dfe6;
  text-align: center;
}
#testimonials button {
  border: none;
  height: 31px;
  margin: 45px 4px 85px;
  width: 31px;
}
#testimonials button:focus {
  outline: none;
}
#testimonials button.prev {
  background-position: -54px -20px;
}
#testimonials button.next {
  background-position: -89px -20px;
}
.testimonials-slider li {
  display: inline-block;
  padding: 0 10px;
  text-align: left;
  width: 49%;
}
.testimonials-slider img {
  border: 2px solid #e4dfe6;
  border-radius: 2px;
  width: 80px;
}
.testimonials-slider .data {
  color: #585059;
  float: right;
  font-size: 15px;
  padding-right: 10px;
  width: calc(100% - 107px);
}
.testimonials-slider .data > h4 {
  color: #585059;
  display: inline-block;
  margin: 0 0 0 5px;
}
.testimonials-slider .data span {
  color: #a5a1a6;
  display: inline-block;
  font-size: 12px;
}
.testimonials-slider .data > p {
  color: #989399;
  font-size: 14px;
  line-height: 24px;
}
.rating,
.rating div {
  background: url(images/stars.png) bottom left;
  display: inline-block;
  height: 12px;
  line-height: 10px;
  width: 65px;
}
.rating div {
  background-position: top left;
  margin-left: -1px;
}
#banner-gif {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}
#banner-gif img {
  border-radius: 10px;
  width: 100%;
}
#main-video {
  margin: 0 auto;
  max-width: 698px;
}
#featured-video {
  background: url(images/purple_bg.png);
  height: 422px;
  position: relative;
  text-align: center;
}
#featured-video video {
  display: none;
  height: 422px;
  margin: 0 auto;
  max-width: 698px;
  width: 100%;
}
#featured-video .poster {
  background: url(images/hero_banner_home_photo.jpg) top center no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 100%;
  margin: 0 auto;
  max-width: 698px;
  position: relative;
  text-align: center;
  width: 100%;
}
#featured-video .play {
  background-position: -67px -68px;
  cursor: pointer;
  display: block;
  height: 75px;
  line-height: 600px;
  position: absolute;
  right: 47%;
  top: 47%;
  width: 75px;
}
#featured-video .play:hover {
  opacity: 0.8;
}
.block .part {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
}
.block .part.full {
  width: 100%;
}
.block .part.full h3 {
  text-align: center;
}
.block .part h3 {
  color: #472e4c;
  font-size: 2.4em;
  font-weight: normal;
  line-height: 1.1em;
  margin: 0;
  text-transform: uppercase;
}
.block .part p {
  color: #989399;
  font-size: 1.2em;
  line-height: 27px;
}
.block .part a:hover {
  text-decoration: underline;
}
.block .part.last {
  padding-left: 10px;
}
#featured-function {
  background: url(images/white_bg.png) top center;
  padding: 60px 0 70px;
}
#featured-function h1 {
  color: #6b4173;
  font-size: 1.8em;
  font-weight: normal;
  line-height: 32px;
  margin: 0 0 60px 0;
  text-align: center;
}
#featured-function h2 {
  font-size: 3.6em;
  font-weight: normal;
  text-transform: uppercase;
}
#featured-function p {
  font-size: 1.2em;
  padding: 0 10%;
  text-align: center;
}
#featured-function .image {
  text-align: center;
}
#featured-function .image p {
  color: black;
  font-size: 128px;
  font-weight: bold;
  margin: 60px 0 0 0;
}
#featured-function .image p span {
  display: inline-table;
}
#featured-function .image p img {
  height: 128px;
}
#ft-main {
  background: white;
  padding: 60px 0 70px;
  text-align: center;
}
#ft-main h2 {
  font-size: 3.6em;
  font-weight: normal;
  text-transform: uppercase;
}
#ft-main h3 {
  color: #472e4c;
  font-size: 2em;
  font-weight: 200;
  line-height: 32px;
  margin: 0 0 60px 0;
  text-align: center;
  text-transform: uppercase;
}
#ft-main h4 {
  text-align: center;
  text-transform: uppercase;
}
#ft-main img {
  max-width: 90%;
}
#ft-main p {
  font-size: 1.2em;
  padding: 0 10% !important;
  text-align: center;
}
nav.features-nav {
  display: none;
  margin: -180px 0 0 0;
  position: fixed;
  left: 0;
  top: 50%;
}
nav.features-nav.active {
  display: block;
}
nav.features-nav span {
  display: none;
  text-transform: uppercase;
}
nav.features-nav ul {
  padding: 0;
  width: 64px;
}
nav.features-nav ul li {
  background: #6b4173;
  box-shadow: 2px 2px 6px #666;
  color: white;
  float: right;
  height: 120px;
  list-style: none;
  padding: 2px 5px 2px 12px;
  text-align: right;
  -webkit-transform: translate(-32px, 0);
  -moz-transform: translate(-32px, 0);
  -ms-transform: translate(-32px, 0);
  transform: translate(-32px, 0);
  vertical-align: middle;
  width: 64px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav.features-nav ul li.nav-ft-1 {
  background: #229c85;
}
nav.features-nav ul li.nav-ft-2 {
  background: #44727d;
}
nav.features-nav ul li.nav-ft-3 {
  background: #6b4173;
}
nav.features-nav ul li img {
  padding: 0 10px 0 10px;
  vertical-align: middle;
}
nav.features-nav ul li span {
  font-size: 0.7em;
  margin-top: 36px;
}
nav.features-nav ul li:hover,
nav.features-nav ul li.selected {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
nav.features-nav ul li:hover span,
nav.features-nav ul li.selected span {
  display: block;
}
#filter-discovery {
  background: url(images/white_bg.png) top center;
  padding: 60px 0 100px;
}
#unified-contacts {
  background: url(images/grey_bg.png) top center;
  padding: 105px 0 125px;
}
#unified-contacts ul {
  margin: 32px 0;
  padding: 0;
  text-align: left;
}
#unified-contacts ul li {
  color: #6b4173;
  display: inline-table;
  text-transform: uppercase;
}
#unified-contacts ul li:after {
  content: '|';
  padding: 0 16px;
}
#unified-contacts ul li:last-child:after {
  content: '' !important;
  padding: 0;
}
#reach-in {
  background: url(images/white_bg2.png) top center;
  padding: 106px 0 100px;
}
#hinter {
  background: url(images/purple_bg.png) top center;
  color: white;
  padding: 106px 0 100px;
}
#hinter .part.img img {
  max-width: 560px;
}
#hinter .part h3,
#hinter .part aside,
#hinter .part p {
  color: white;
}
#hinter .part h3 {
  font-size: 2.4em;
  text-transform: uppercase;
}
#hinter .part aside {
  font-size: 1.4em;
  margin-top: 16px;
}
#hinter .part p {
  font-size: 17px;
}
#hinter .part p img {
  margin-left: 6px;
  vertical-align: middle;
}
#hinter .part a {
  background: white;
  padding: 2px 10px 5px 10px;
}
#hinter .part a:hover {
  text-decoration: underline;
}
#join-us {
  background: url(images/join_bg.png) top center;
  padding: 60px 0 70px;
  text-align: center;
  border-top: 1px solid #e4dfe6;
}
#join-us .image-block {
  position: relative;
}
#join-us .image-block .bottom_button_image_wrap {
  background: url(images/try_it_now_bottom_bg.jpg) no-repeat center top;
  margin: 0;
  min-height: 480px;
  position: relative;
  top: 0;
}
#join-us .image-block .join-us-text {
  left: 0;
  margin: 0 auto;
  position: absolute;
  top: 60px;
  width: 100%;
}
#join-us .image-block .join-us-text p {
  font-size: 3em;
  max-width: 640px;
  padding: 0 15%;
  text-align: left;
}
#join-us .image-block img {
  width: 100%;
}
#join-us .highlight-block {
  border-radius: 10px;
  margin: 0 auto;
  padding-top: 60px;
  width: 90%;
}
#join-us p {
  color: white;
  font-size: 32px;
  font-weight: 300;
  margin: 0 0 30px;
}
.post {
  min-height: 250px;
}
.post h1,
.post h1 a {
  color: #6b4173;
  font-size: 25px;
  text-decoration: none;
}
.post h1.big-center,
.post h1 a.big-center {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}
.post a {
  text-decoration: none;
  color: #72468f;
}
.post .wp-post-image {
  display: block;
  margin: 15px auto;
  max-width: 100%;
  height: auto;
}
.post .post-categories,
.post .post-categories > li {
  display: inline;
  padding: 0;
}
.post .post-meta {
  font-size: 12px;
  margin-top: -10px;
}
.blogposts .post {
  display: inline-block;
  margin: 0 0.5%;
  vertical-align: top;
  width: 48%;
  border-bottom: 1px solid #f7f7f7;
}
.blogpost .post {
  width: calc(100% - 385px);
  display: inline-block;
}
#sidebar {
  display: inline-block;
  width: 360px;
  vertical-align: top;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #f7f7f7;
}
#sidebar a {
  color: #7d7380;
  font-size: 14px;
}
#sidebar .side-title {
  color: #72468f;
  font-size: 18px;
  margin: 24px 0 0;
}
#sidebar .search-form {
  margin-top: 10px;
}
#sidebar .search-field {
  border: 1px solid #eee;
  font-size: 14px;
  line-height: 26px;
  padding: 2px 10px;
  vertical-align: top;
  width: calc(100% - 110px);
}
#sidebar .search-submit {
  background: #6b4173;
  border: medium none;
  color: #fff;
  line-height: 31px;
  vertical-align: top;
  width: 84px;
}
.commentlist .comment-meta,
.commentlist .reply {
  float: right;
  margin-top: -19px;
  font-size: 13px;
}
.commentlist li {
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 2px;
  padding-top: 8px;
}
#commentform textarea {
  height: 155px;
  width: 100%;
}
#commentform #submit {
  margin: 0;
}
.reach-in-animation {
  margin: 42px 0 50px 31px;
}
.reach-in-animation .inner {
  position: relative;
  width: 414px;
  height: 417px;
  border-radius: 50%;
  background: url(images/me.png) no-repeat center center;
}
.reach-in-animation .circle {
  position: absolute;
  width: 105px;
  height: 105px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  margin-top: -50px;
  margin-left: -50px;
  left: 50%;
  top: 50%;
  line-height: 75px;
}
.reach-in-animation .btn {
  background: #1b7c6a;
  color: #fff;
  width: 105px;
  line-height: 32px;
  border-radius: 5px;
  font-size: 13px;
}
.reach-in-animation .icon {
  margin: 0 auto 10px;
  background: #c8cbcc;
  transition: background-color 2s linear;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.reach-in-animation .icon span {
  margin-top: 21px;
  background: url('images/anim-sprite.png');
  width: 21px;
  height: 21px;
  display: inline-block;
}
.reach-in-animation .icon.follow span {
  margin-top: 25px;
  background-position: -30px 0;
}
.reach-in-animation .icon.comment span {
  width: 27px;
  background-position: -61px 0;
}
.reach-in-animation .icon.connect span {
  margin-top: 24px;
  width: 26px;
  background-position: -103px 0;
}
.reach-in-animation .icon.message span {
  margin-top: 22px;
  width: 22px;
  background-position: -143px 0;
}
.reach-in-animation .arrow {
  background: url('images/anim-sprite.png');
  width: 16px;
  height: 12px;
  background-position: 0px -24px;
  position: absolute;
  right: -6px;
  top: 24%;
  opacity: 0;
  transition: opacity 2s linear;
}
.reach-in-animation .active .arrow {
  opacity: 1;
}
.reach-in-animation .active .icon {
  background: #72468f;
}
.reach-in-animation .active .in {
  background-position: -26px -24px;
}
.reach-in-animation .in {
  background: url("images/anim-sprite.png") -59px -24px;
  display: inline-block;
  height: 24px;
  position: absolute;
  right: 19px;
  top: 41px;
  width: 24px;
  transition: background-position 0.2s ease-in;
}
.reach-in-animation .profil {
  width: 137px;
  margin: 0 auto !important;
  text-align: center;
}
.reach-in-animation .profil .img {
  width: 137px !important;
  height: 137px !important;
  border: 3px solid #1b7c6a;
  border-radius: 50%;
  background: #ffffff url(images/faces.png) no-repeat;
  margin-top: 130px !important;
  display: inline-block;
  background-size: cover;
}
.reach-in-animation .profil .img.p1 {
  background-position: 0 -169px;
}
.reach-in-animation .profil .img.p2 {
  background-position: 0 -338px;
}
.reach-in-animation .profil .img.p3 {
  background-position: 0 -507px;
}
.reach-in-animation .profil .img.p4 {
  background-position: 0 -676px;
}
.reach-in-animation .profil .img.p5 {
  background-position: 0 -844px;
}
.reach-in-animation .profil .btn {
  margin: 0 auto;
  background: #72468f;
  margin-top: -9px;
  z-index: 9;
  position: relative;
}
.about {
  text-align: center;
}
.about .part {
  display: inline-block;
  width: 27%;
  vertical-align: top;
  text-align: left;
}
.about .part.middle {
  width: 40%;
  margin: 0 1%;
}
.about h2 {
  color: #6b4173;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
}
.about p {
  line-height: 24px;
}
.about img.n {
  margin: 0 auto;
  display: block;
}
.about #our-team {
  background: none;
  border: none;
  margin-top: 28px !important;
}
.about #our-team .member {
  width: 100%;
  margin-bottom: 25px;
}
.the-content {
  padding-bottom: 40px;
}
.the-content h2 {
  color: #333;
  font-size: 18px;
  margin: 40px 0 20px;
}
.the-content p {
  margin: 0;
  padding: 0;
  line-height: 25px;
  color: #777;
  margin-bottom: 10px;
}
.the-content h3 {
  color: #555;
  font-size: 16px;
  margin: 25px 0 5px;
}
.the-content li {
  margin-bottom: 7px;
}
#job-offers {
  margin-bottom: 50px;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.frm {
  max-width: 600px;
  margin: 0 auto;
  font-size: 15px;
}
.frm label {
  display: inline-block;
  margin-right: 8px;
  width: 85px;
  text-align: right;
}
.frm label.area {
  vertical-align: top;
}
.frm textarea.input {
  height: 160px;
  width: 480px;
}
.frm .input {
  line-height: 22px;
  margin-bottom: 15px;
  padding: 5px 10px;
  width: 320px;
}
.frm .input.small {
  width: 200px;
}
.frm .magenta-btn {
  margin: 0 0 0 96px;
}
/*********  unified contacts animation *********/
.unified-contacts-animation {
  padding-right: 120px;
}
.unified-contacts-animation .me {
  background: url(images/me3.png) no-repeat center center;
  height: 221px;
  margin: 210px auto 255px;
  width: 217px;
}
.unified-contacts-animation .circle {
  position: absolute;
  margin: 32px 0 0 45px;
}
.unified-contacts-animation .circle .img {
  width: 85px;
  height: 85px;
  border: 2px solid #1b7c6a;
  border-radius: 50%;
  background: url(images/faces.png);
  background-size: cover;
}
.unified-contacts-animation .circle .icn {
  background: url("images/anim-sprite.png");
  display: inline-block;
  height: 30px;
  position: absolute;
  width: 30px;
  right: 4px;
  top: 62px;
}
.unified-contacts-animation .circle .in {
  background-position: -227px -24px;
}
.unified-contacts-animation .bio {
  background: url(images/linkedin_search.png) no-repeat;
  width: 248px;
  height: 243px;
  position: absolute;
  margin: -138px 0 0 169px;
}
.unified-contacts-animation .bio p {
  color: #6b4173;
  font-size: 14px;
  font-weight: bold;
  margin: 150px 0 0 102px;
  position: absolute;
  line-height: 18px;
  text-align: center;
}
.unified-contacts-animation .interactions {
  width: 200px;
  height: 297px;
  background: url(images/search_signals.png);
  position: absolute;
  margin: 149px 0 0 206px;
}
.unified-contacts-animation .interactions span {
  border: 1px solid;
  border-radius: 5px;
  color: #6b4173;
  display: inline-block;
  line-height: 28px;
  margin: 297px 0 0 45px;
  padding: 0 12px;
  position: absolute;
  font-weight: bold;
  white-space: nowrap;
}
.unified-contacts-animation .interactions p {
  color: #6b4173;
  font-size: 14px;
  font-weight: bold;
  margin: 170px 0 0 60px;
  text-align: center;
  position: absolute;
  line-height: 18px;
}
.unified-contacts-animation .interactions .reach-now-data {
  color: #251d26;
  margin: 136px 0 0 10px;
  position: absolute;
  white-space: nowrap;
  width: 166px;
}
.unified-contacts-animation .interactions .reach-now-data label {
  vertical-align: top;
  font-size: 13px;
  font-weight: bold;
  width: 60px;
  display: inline-block;
}
.unified-contacts-animation .interactions .reach-now-data label.l {
  text-align: right;
  margin-bottom: 23px;
}
.unified-contacts-animation .interactions .reach-now-data label.sep {
  display: inline-block;
  width: 50px;
}
.unified-contacts-animation .recent-shares {
  background: url(images/linkedin_contacts_book.png) no-repeat;
  width: 170px;
  height: 215px;
  position: absolute;
  border-radius: 5px;
  margin: -213px 0 0 -97px;
  box-sizing: border-box;
  padding: 10px;
  color: #fff;
}
.unified-contacts-animation .recent-shares p {
  color: #6b4173;
  font-size: 14px;
  font-weight: bold;
  margin: 128px 0 0 0px;
  text-align: center;
  position: absolute;
  line-height: 18px;
  width: 110px;
}
.unified-contacts-animation .recent-shares p span {
  background: url(images/shares-sprite.png) no-repeat;
  display: inline-block;
  width: 14px;
  height: 15px;
  margin: 4px 0 0 -22px;
  position: absolute;
}
.unified-contacts-animation .recent-shares p span.gp {
  background-position: 0 0;
}
.unified-contacts-animation .recent-shares p span.tw {
  background-position: -14px 0;
}
.unified-contacts-animation .recent-shares p span.in {
  background-position: -28px 0;
}
.unified-contacts-animation .shared-topics {
  background: url(images/upload_csv.png) no-repeat;
  height: 200px;
  width: 190px;
  position: absolute;
  border-radius: 5px;
  margin: 229px 0 0 -63px;
  box-sizing: border-box;
  padding: 10px;
  color: #fff;
}
.unified-contacts-animation .shared-topics p {
  color: #6b4173;
  font-size: 14px;
  font-weight: bold;
  margin: 140px 0 0 0px;
  text-align: center;
  position: absolute;
  line-height: 18px;
  width: 110px;
}
.unified-contacts-animation .recent-shares b,
.unified-contacts-animation .shared-topics b {
  display: block;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 0 0;
  text-align: center;
  text-transform: uppercase;
}
/*********  discovery  animation *********/
.hidden {
  display: none;
}
.discovery-animation {
  margin: 0 auto;
  width: 595px;
  text-align: center;
}
.discovery-animation .me {
  background: url(images/me2.png) no-repeat center center;
  height: 258px;
  margin: 0 auto;
  width: 258px;
  padding-top: 61px;
}
.discovery-animation .border {
  width: 316px;
  height: 319px;
  margin: 77px auto 0;
}
.discovery-animation .by-shared {
  opacity: 0;
  color: transparent;
  transition: color 2s ease;
}
.discovery-animation .input-big-data {
  padding-top: 63px;
}
.discovery-animation .input-big-data .wrap {
  border: 1px solid #6b4173;
  width: 190px;
  margin: 0 auto;
  border-radius: 5px;
}
.discovery-animation .input-big-data input {
  background: #f9f5fa url(images/green-loop.png) no-repeat 158px center;
  border: 1px solid #cac7cb;
  border-radius: 5px;
  color: #1b7c6a;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  padding: 0 15px;
  width: 158px;
}
.discovery-animation .shutter {
  width: 236px;
  height: 235px;
  margin: 42px 0 0 41px;
  position: absolute;
}
.discovery-animation .circle {
  position: absolute;
  opacity: 0;
  margin: 120px 0 0 123px;
  transition: all 0.8s ease-out;
}
.discovery-animation .circle .img {
  width: 68px;
  height: 68px;
  border: 2px solid #1b7c6a;
  border-radius: 50%;
  background: url(images/faces.png);
  background-size: cover;
}
.discovery-animation .circle.circle2 .img {
  background-position: 0 -84px;
}
.discovery-animation .circle.circle3 .img {
  background-position: 0 -168px;
}
.discovery-animation .circle.circle4 .img {
  background-position: 0 -252px;
}
.discovery-animation .circle.circle5 .img {
  background-position: 0 -335px;
}
.discovery-animation .circle.circle6 .img {
  background-position: 0 -419px;
}
.discovery-animation .circle .btn {
  margin: -52px 0 0 -113px;
  min-width: 104px;
  position: absolute;
  line-height: 31px;
  background: #1b7c6a;
  color: #e9eff2;
  border-radius: 5px;
}
.discovery-animation .circle .icn {
  background: url("images/anim-sprite.png");
  display: inline-block;
  height: 24px;
  position: absolute;
  width: 24px;
  transition: background-position 0.2s ease-in;
  right: 3px;
  top: 48px;
}
.discovery-animation .circle .in {
  background-position: -26px -24px;
}
.discovery-animation .circle .fb {
  background-position: -93px -24px;
}
.discovery-animation .circle .gp {
  background-position: -124px -24px;
}
.discovery-animation .circle .tw {
  background-position: -156px -24px;
}
.discovery-animation .circle .wp {
  background-position: -187px -24px;
}
.discovery-animation .circle.right .btn {
  margin: -52px 0 0 81px;
}
.discovery-animation.step3 .border {
  background: url(images/border2.png) no-repeat center center;
}
.discovery-animation.step3 .circles {
  display: block;
}
.discovery-animation.step1 .by-shared {
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 22px;
  line-height: 258px;
  background: rgba(107, 65, 115, 0.6);
  font-weight: bold;
  margin-top: -30px;
  transition: background-color 2s ease;
  opacity: 1;
}
.discovery-animation.step2 .input-big-data,
.discovery-animation.step3 .input-big-data {
  display: block;
}
.shutter .frame {
  background: url(images/shutter.png) no-repeat 300px 0;
  width: 236px;
  height: 235px;
}
.shutter .frame.f0 {
  background-position: right center;
}
.shutter .frame.f1 {
  background-position: -1407px 0;
}
.shutter .frame.f2 {
  background-position: -843px 0;
}
.shutter .frame.f3 {
  background-position: -562px 0;
}
.shutter .frame.f4 {
  background-position: -281px 0;
}
.shutter .frame.f5 {
  background-position: 0 0;
}
.discovery-animation.step3.m .circle {
  opacity: 1;
}
.discovery-animation.step3.m .circle1.circle {
  margin: -23px 0 0 63px;
}
.discovery-animation.step3.m .circle2.circle {
  margin: 142px -32px 0;
}
.discovery-animation.step3.m .circle3.circle {
  margin: 271px 77px 0;
}
.discovery-animation.step3.m .circle4.circle {
  margin: 206px 253px 0;
}
.discovery-animation.step3.m .circle5.circle {
  margin: 30px 244px 0;
}
.improve-results-animation {
  position: relative;
  text-align: center;
}
.improve-results-animation .magnet {
  margin-bottom: 24px;
  transition: all 0.3s ease-in-out;
}
.improve-results-animation .contents {
  -ms-transform: scale(0.7, 0.7);
  /* IE 9 */
  -webkit-transform: scale(0.7, 0.7);
  /* Safari */
  transform: scale(0.7, 0.7);
  transition: all 0.3s ease-in-out;
}
#reach-in.intoView .magnet {
  -ms-transform: scale(0.7, 0.7);
  /* IE 9 */
  -webkit-transform: scale(0.7, 0.7);
  /* Safari */
  transform: scale(0.7, 0.7);
}
#reach-in.intoView .contents {
  -ms-transform: scale(1, 1);
  /* IE 9 */
  -webkit-transform: scale(1, 1);
  /* Safari */
  transform: scale(1, 1);
}
.page-id-421 h1.title,
.page-id-550 h1.title {
  text-align: center;
  text-transform: uppercase;
}
.featured-item {
  margin: 0 auto !important;
  max-width: 860px;
  padding: 24px 50px;
}
.featured-item h2 {
  font-size: 1.8em;
  text-transform: uppercase;
}
.featured-item img {
  margin: 0 auto;
}
.featured-item p {
  font-size: 1.2em;
}
.featured-item p.small {
  font-size: 1em;
}
.featured-item .text-align-center {
  text-align: center;
}
.featured-item .view-more {
  cursor: pointer;
  margin-top: 32px;
  text-align: center;
}
.featured-item .view-more i {
  font-size: 2em;
  transition: all 0.3s ease-in-out;
}
.featured-item .view-more:hover i {
  color: #333;
  font-size: 3em;
}
.featured-item .vc_progress_bar .vc_single_bar {
  background: #4CADC9!important;
}
#card-glance {
  padding-top: 0;
}
#card-accordion .vc_tta-panel-body {
  border: 1px solid #f0f0f0;
  border-top: none;
  padding-bottom: 24px;
}
.widget_wysija_cont {
  background: #989399;
  border-radius: 10px;
  padding: 15px;
}
.widget_wysija_cont form h3 {
  color: white !important;
  margin-top: 0 !important;
  text-transform: uppercase;
}
.widget_wysija_cont input {
  border: none;
  padding: 5px 5%;
  width: 90%;
}
.widget_wysija_cont .wysija-submit {
  background: #6b4173;
  border-radius: 3px !important;
  color: #fff !important;
  font-size: 14px !important;
  line-height: 16px !important;
  margin-top: 13px !important;
  width: 100% !important;
}
.widget_wysija_cont .wysija-submit:hover {
  background: #fff !important;
  color: #72468f !important;
}
#dynamic-filters .wpb_wrapper {
  position: relative;
}
#dynamic-filters #dynamic-filters-gear {
  position: absolute;
  left: 45%;
  top: -15px;
  z-index: 10;
}
#dynamic-filters #dynamic-filters-gear .fa-cog {
  text-shadow: 4px 0 0 #ffffff, -4px 0 0 #ffffff, 0 4px 0 #ffffff, 0 -4px 0 #ffffff, 2px 2px #ffffff, -2px -2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff;
}
#pricing-switch {
  text-align: center;
}
#pricing-switch li {
  border-bottom: 3px solid transparent;
  color: #6b4173;
  cursor: pointer;
  display: inline-table;
  font-size: 1.2em;
  font-weight: bold;
  list-style: none;
  margin-bottom: 30px;
  margin-right: 24px;
  padding-bottom: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#pricing-switch li:last-child {
  margin-right: 0;
}
#pricing-switch li.active,
#pricing-switch li:hover {
  border-bottom: 3px solid #6b4173;
}
#month-pricing {
  display: none;
}
.professional .rpt_title,
.professional .rpt_foot {
  background: #1fb3c4 !important;
}
.salesforce .rpt_title,
.salesforce .rpt_foot {
  background: #1e73be !important;
}
.growth .rpt_title,
.growth .rpt_foot {
  background: #6b4173 !important;
}
.rpt_recurrence {
  margin-top: 12px;
}
.rpt_recommended_plan .rpt_title {
  font-size: 1.8em !important;
}
.rpt_recommended_plan .rpt_feature {
  font-size: 1.2em !important;
}
.rpt_features {
  min-height: 210px;
}
#rpt_pricr .rpt_title {
  line-height: 1.4em;
}
#rpt_pricr .rpt_title aside {
  font-size: 0.8em;
}
#rpt_pricr .rpt_subtitle p {
  color: white;
  line-height: 1.3em;
  font-size: 1.3em;
}
#rpt_pricr .rpt_subtitle p span {
  font-size: 1.6em;
}
#rpt_pricr img.rpt_recommended {
  position: absolute !important;
  right: 12px !important;
  top: 18px !important;
  height: 32px !important;
}
.rpt_style_basic .rpt_plan .rpt_head .rpt_price .rpt_currency {
  font-size: 0.7em !important;
  top: 0 !important;
}
.rpt_style_basic .rpt_plan .rpt_head .rpt_recurrence {
  padding-top: 0 !important;
  padding-bottom: 4px !important;
}
.early-adopter,
.annual-discount {
  background: red;
  border-radius: 3px;
  color: white;
  font-size: 0.9em;
  font-weight: bold;
  padding: 3px 12px;
  text-transform: uppercase;
}
.regular-price,
.annual-price {
  color: red;
}
.trial {
  font-size: 0.7em;
}
h1.faq {
  margin-top: 64px;
}
.rpt_feature:last-child {
  border-bottom: none !important;
}
.rpt_plan_2 .rpt_feature_2-7,
.rpt_plan_2 .rpt_feature_2-8,
.rpt_plan_2 .rpt_feature_2-9,
.rpt_plan_2 .rpt_feature_2-10,
.rpt_plan_2 .rpt_feature_2-11 {
  font-size: 0.9em !important;
  padding: 0 24px 6px 24px !important;
  text-align: left;
}
.rpt_plan_2 .rpt_feature_2-6,
.rpt_plan_2 .rpt_feature_2-7,
.rpt_plan_2 .rpt_feature_2-8,
.rpt_plan_2 .rpt_feature_2-9,
.rpt_plan_2 .rpt_feature_2-10 {
  border-bottom: none !important;
}
form.pricing-accounts {
  text-align: center;
}
form.pricing-accounts #content-hub,
form.pricing-accounts #hinter-account,
form.pricing-accounts #team-account,
form.pricing-accounts #startup-account {
  border: none;
  box-shadow: none;
  border-radius: 6px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 90%;
}
form.pricing-accounts #content-hub {
  background: #f5f5f5;
  border: 3px solid black;
  color: black;
  font-size: 1.2em;
  margin: 50px 0 0 0;
  padding: 12px 5% 15px 5%;
}
form.pricing-accounts #content-hub h1 {
  color: black;
  text-transform: uppercase;
}
form.pricing-accounts #content-hub ul {
  margin: 30px auto;
  width: 80%;
}
form.pricing-accounts #content-hub ul li {
  font-size: 0.8em;
  text-align: left;
}
form.pricing-accounts #content-hub .price {
  text-align: center;
}
form.pricing-accounts #content-hub .price p {
  background: #00cc00;
  border-radius: 6px;
  color: white;
  font-size: 1em;
  margin: 0 auto 18px auto;
  padding: 6px 0;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 240px;
}
form.pricing-accounts #content-hub .price p span {
  font-size: 0.8em;
}
form.pricing-accounts #content-hub:hover {
  background: #fbfbfb;
}
form.pricing-accounts #content-hub:hover .price p {
  background: #03de13;
}
form.pricing-accounts #hinter-account {
  background: black;
  color: white;
  font-size: 1.2em;
  margin: 50px 0 0 0;
  padding: 12px 5% 15px 5%;
}
form.pricing-accounts #hinter-account img {
  margin-right: 12px;
  vertical-align: middle;
  width: 50px;
}
form.pricing-accounts #hinter-account:hover {
  background: #464646;
}
form.pricing-accounts #team-account {
  background: #FFD700;
  color: #996515;
  font-size: 1.2em;
  margin: 50px 0 0 0;
  padding: 17px 5% 20px 5%;
}
form.pricing-accounts #team-account:hover {
  background: #FFDF00;
}
form.pricing-accounts #startup-account {
  background: #ddd;
  color: #666666;
  font-size: 1em;
  margin: 20px 0 0 0;
  padding: 9px 5% 12px 5%;
}
form.pricing-accounts #startup-account:hover {
  background: #eee;
}
form.pricing-accounts.last {
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .block .part.img img.anim {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .block .part,
  .block .part.img img.anim {
    display: block;
    margin: 0 auto !important;
    width: 100%;
  }
  .block {
    padding: 30px 0 !important;
  }
  .block .part.img {
    position: relative;
    overflow: hidden;
    margin: 20px 0 0;
  }
  .block .part.img img.anim {
    margin-bottom: 15px;
  }
  .flip {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
  .flip .part {
    order: 1;
  }
  .flip .part.img {
    order: 2 !important;
  }
  .reach-in-animation {
    margin-left: 0 !important;
  }
  .about .part {
    width: 100% !important;
    margin-bottom: 40px;
  }
  .discovery-animation .border {
    margin: 77px auto;
  }
  .reach-in-animation .inner {
    margin: 0 auto;
  }
  .discovery-animation {
    width: 100%;
  }
}
@media (max-width: 768px) {
  #relmenu {
    display: block;
    float: none;
    text-align: left;
  }
  #relmenu > ul > li > a {
    padding: 20px;
  }
  #header {
    height: auto;
    text-align: left;
  }
  #footer .wrapper {
    padding-top: 30px;
  }
  #hd-login,
  .lang-switcher,
  #menu-line {
    display: none !important;
  }
  #logo {
    float: none;
    margin: 7px 0;
  }
  .lang-switcher-small {
    display: block !important;
  }
  .lang-switcher-small ul {
    padding: 20px 0 0 0 !important;
    text-align: center;
  }
  .lang-switcher-small ul li {
    display: inline-table;
    list-style: none;
    margin-left: 20px;
  }
  .lang-switcher-small ul li:first-child {
    margin-left: 0;
  }
  .lang-switcher-small ul li a {
    margin: 0;
  }
  .lang-switcher-small ul li a.current,
  .lang-switcher-small ul li a:hover {
    border-top: 2px solid #ababab;
  }
  .lang-switcher-small ul li .flag {
    margin-right: 6px;
  }
  .mobile-only {
    display: block !important;
  }
  .mobile-only.sign a {
    color: #72468f !important;
    font-weight: bold;
    text-align: center;
  }
  .two-col-slide .titles  > h3,
  .two-col-hero .titles  > h3.titles  > span {
    font-size: 61px;
  }
}
@media (max-width: 640px) {
  #footer .part {
    width: 47%;
  }
  .two-col-slide .titles  > h3,
  .two-col-hero .titles  > h3 .titles  > span {
    font-size: 50px;
  }
  .two-col-slide .data > img,
  .two-col-hero .data > img {
    width: 100%;
  }
  .testimonials-slider li {
    width: 100%;
  }
  #featured-video .poster,
  #featured-video video {
    height: 260px;
  }
  #featured-video .play {
    right: 39%;
    top: 37%;
  }
  .blogposts .post {
    width: 100%;
    margin: 0;
  }
  #our-team .member {
    min-width: 0;
    width: 100%;
  }
}
@media (max-width: 480px) {
  #footer .part {
    width: 100%;
  }
  .two-col-slide .titles > span,
  .two-col-hero .titles > span {
    display: block;
  }
  .block .part.img img.anim {
    width: 100%;
  }
  .dotes {
    right: 2%;
  }
  .frm textarea.input {
    width: 320px;
  }
  .block .part.img {
    width: 480px;
    margin-left: -10px !important;
  }
}
@media (max-width: 360px) {
  .reach-in-animation {
    margin-left: 10px;
  }
  .reach-in-animation .profil .img {
    margin-top: 73px !important;
  }
  .reach-in-animation .inner {
    width: 320px;
    height: 320px;
    background-size: cover;
  }
  .frm label {
    display: block;
    text-align: left;
  }
  .frm .input {
    width: 94% !important;
    margin-bottom: 10px;
  }
  .frm .magenta-btn {
    margin: 0 auto;
    width: 120px;
    display: block;
  }
  .block .part.img {
    width: 360px;
  }
}
